body {
  padding-top: 50px;
  /*background-color: #FED794;*/
  /* background-color: #fef4dc; */
  background-color: #fffcf2;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.minigrid {
    background-color: #ffffff;
    border: 1px solid #777;
    padding: 10px;
    margin: 5px;
}

.minigrid h3 {
    color: #333;
    border-bottom: 2px solid #777;
}

h1 {
    font-family: 'Varela Round', sans-serif;
}

h2 {
    font-family: 'Varela Round', sans-serif;
}

h3 {
    font-family: 'Varela Round', sans-serif;
}

.faqdates
{
    border-bottom: 2px solid #444;
}

.faqdatestop
{
    border-top: 2px solid #444;
    border-bottom: 2px solid #444;
}

.faqpolicy dt
{
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
}

.faqpolicy dd {
    margin-bottom: 10px;
}
/* ------------------------- Graphic Elements ------------------------------ */

.contact-img {
    padding: 0px 20px;
}

.courseinfo {
    background: #fef4dc;

  -moz-box-shadow: 0 1px 1.5px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 1px 1.5px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 1.5px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);

  padding-bottom: 20px;
}

.courseinfo hr {
    border-top: 1px solid #d7c7ac;
    width: 100%;
}

.courseinfo p {
    margin-bottom: 0px;
}

/* ------------------------- Class Box and CourseRequest ------------------------------ */

.classbox-bg {
    background: #dddddd;
    border-radius: 6px;
    padding: 5px;
}

.padfix {
    padding-left: 4px;
    padding-right: 4px;
}
.classbox {
    border-radius: 4px;
    background: #b8dd91;
    width: 100%;
    height: 200px;
    margin: 5px;

  -moz-box-shadow: 0 1px 1.5px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 1px 1.5px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 1.5px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);

}

.classbox-bg h4 {
    color: #888888;
}

.crbox {
    color: #648441;
    background: #a0d468;
    font-size: 12px;
    border-bottom: solid 1px #79a04e;
}

.crbox h5 {
    color: #eeffee;
    font-size: 12px;
    padding-top: 5px;
    margin: 0px 0px 0px 8px;
}

.crbox p {
    color: #3b4e26;
    font-size: 14px;
    min-height: 42px;
    margin: 0px;
    padding: 0px 12px 0px 12px;
    text-align: center;
    border-bottom: dotted 1px #79a04e;
    font-family: 'Varela Round', sans-serif;
}

.crbox-btnbox {
    height: 35px;
    padding: 8px;
}

.helpnum {
    display: inline-block;
    background-color: #000000;
    color: #ffffff;
    border-radius: 50%;
    padding: 5px;
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 5px 20px 5px 5px;
}

.shrinktofit {
    max-width:100%;
}

/* ------------------------- Frontpage Infobox ------------------------------ */

.frontinfo {
	background:
	height: 200px;
	color: #FED794;
	background-image:url('/static/banner_bg.jpg');
	background-color: #C47974;
	margin-bottom:50px;
	border-bottom: 10px solid #DC8371;
	overflow: hidden;
}

.frontinfo img {
	max-width: 100%;
}

.frontinfo h1 {
	color: #fff;
	font-family: 'Varela Round', sans-serif;
}

.frontinfo p {
	font-family: 'Coming Soon', cursive;
	font-size: 14pt;
}

.panel-course>.panel-heading {
	color: #261807;
	background-color: #FAB780;
	border-color: #FAB780;
}

.panel-course>.panel-body {
	color: #777;
	background-color: #FED794;
	border-color: #FAB780;
}

.panel-link {
    font-family: 'Varela Round', sans-serif;
	color: #674f78;
	font-size: 20px;
}

.panel {
	border: none;
}

/* ------------------------- Frontpage masonry ------------------------------ */


.frontimg {
	padding-bottom: 20px;
}

.frontimg img {
    width: 100%;
	max-height: : 100%;
	max-width: : 100%;
}

.panel-heading {
    color:
    font-family: 'Varela Round', sans-serif;
}

@media screen and (min-width: 1px) and (max-width: 480px){
  #columns[data-columns]::before {
    content: '1 .col-xs-12';
  }
}

@media screen and (min-width: 481px) and (max-width: 767px){
  #columns[data-columns]::before {
    content: '2 .col-xs-6';
  }
}
@media screen and (min-width:768px) and (max-width: 991px){
  #columns[data-columns]::before {
    content: '3 .col-sm-4';
  }
}
@media screen and (min-width:992px) and (max-width: 9999px){
  #columns[data-columns]::before {
    content: '4 .col-md-3';
  }
}


/* ------------------------- Navbar ------------------------------ */
/* from http://twbscolor.smarchal.com/ */

.navbar-mx {
	background-color: #826496;
	border-color: #674f78;
}
.navbar-mx .navbar-brand {
	color: #fab780;
}

.navbar-mx .navbar-brand:hover, .navbar-mx .navbar-brand:focus {
	color: #fdd794;
}
.navbar-mx .navbar-text {
	color: #fab780;
}
.navbar-mx .navbar-nav > li > a {
	color: #fab780;
}
.navbar-mx .navbar-nav > li > a:hover, .navbar-mx .navbar-nav > li > a:focus {
	color: #fdd794;
}
.navbar-mx .navbar-nav > .active > a, .navbar-mx .navbar-nav > .active > a:hover, .navbar-mx .navbar-nav > .active > a:focus {
	color: #fdd794;
	background-color: #674f78;
}
.navbar-mx .navbar-nav > .open > a, .navbar-mx .navbar-nav > .open > a:hover, .navbar-mx .navbar-nav > .open > a:focus {
	color: #fdd794;
	background-color: #674f78;
}
.navbar-mx .navbar-toggle {
	border-color: #674f78;
}
.navbar-mx .navbar-toggle:hover, .navbar-mx .navbar-toggle:focus {
	background-color: #674f78;
}
.navbar-mx .navbar-toggle .icon-bar {
	background-color: #fab780;
}
.navbar-mx .navbar-collapse,
.navbar-mx .navbar-form {
	border-color: #fab780;
}
.navbar-mx .navbar-link {
	color: #fab780;
}
.navbar-mx .navbar-link:hover {
	color: #fdd794;
}

@media (max-width: 767px) {
	.navbar-mx .navbar-nav .open .dropdown-menu > li > a {
		color: #fab780;
	}
	.navbar-mx .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-mx .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #fdd794;
	}
	.navbar-mx .navbar-nav .open .dropdown-menu > .active > a, .navbar-mx .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-mx .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #fdd794;
		background-color: #674f78;
	}
}

/* ------------------------- Callouts ------------------------------ */

.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}

/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}
.bs-callout-warning {
  background-color: #fefbed;
  border-color: #D5BA00;
}
.bs-callout-info {
  background-color: #ffe0ab;
  border-color: #F0AD4E;
}

.bs-callout-danger h4 {
color: #B94A48;
}

.bs-callout-warning h4 {
color: #C09853;
}

.bs-callout-info h4 {
color: #81500B;
}
