{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="row-fluid">
    <h1>MXPTA Afterschool Admin</h1>
    <p class="lead">
        Manage users, students and course requests.
    </p>

    <div class="well">
        <h3 class="panel-title">Enrollment</h3>

            <p>
            Tools for handling the enrollment period.
            </p>
            <a class="btn btn-default" href="{{ url_for('schedule.index') }}"><i class="icon-calendar icon-black"></i>Schedule</a>
            <a class="btn btn-default" href="{{ url_for('.invoice') }}"><i class="icon-envelope icon-black"></i>Invoices</a>
        </div>
    </div>

    <div class="well">
        <h3 class="panel-title">Reporting</h3>
        <p>
        Generate Reports and Handouts
        </p>
        <a class="btn btn-default" href="{{ url_for( '.reportCourseDescs', mingrade=0, maxgrade=0) }}"><i class="icon-print"></i>Class Listings (K/TK)</a>
        <a class="btn btn-default" href="{{ url_for( '.reportCourseDescs', mingrade=1, maxgrade=5) }}"><i class="icon-print"></i>Class Listings (1-5)</a>
        <a class="btn btn-default" href="{{ url_for( '.reportPayment') }}"><i class="icon-print"></i>Payments</a>
        <a class="btn btn-default" href="{{ url_for( '.reportScholarships') }}"><i class="icon-print"></i>Scholarships</a>
        <a class="btn btn-default" href="{{ url_for( '.reportRosters') }}"><i class="icon-print"></i>Rosters</a>
        <a class="btn btn-default" href="{{ url_for( '.reportTeachers') }}"><i class="icon-print"></i>Teachers</a>
        <a class="btn btn-default" href="{{ url_for( '.reportAftercare') }}"><i class="icon-print"></i>Aftercare</a>
        <a class="btn btn-default" href="{{ url_for( '.reportLearns') }}"><i class="icon-print"></i>LEARNS</a>
        <a class="btn btn-default" href="{{ url_for( '.reportBears') }}"><i class="icon-print"></i>BEARS</a>
        <a class="btn btn-default" href="{{ url_for( '.reportAllEmails') }}"><i class="icon-print"></i>Emails</a>
        <a class="btn btn-default" href="{{ url_for( '.reportWaitlist') }}"><i class="icon-print"></i>Waitlist</a>
        <br>
        <h4>TSV Reports</h4>
        <p>For importing into spreadsheets</p>
        <a class="btn btn-default" href="{{ url_for( '.reportAfcClass') }}"><i class="icon-print"></i>AfcClass (.tsv)</a>
    </div>

    <div class="well">
        <h3 class="panel-title">Admin</h3>
        <p>
        Admin Tasks (must be enabled)
        </p>
        <a class="btn btn-warning" href="{{ url_for( '.clearUsers' ) }}"><i class="icon-trash"></i>Clear User Data</a>
    </div>

    <a class="btn btn-defaultr" href="{{ url_for('.admlogout') }}">Logout</a>

</div>
{% endblock body %}