{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="row">
    <div class="span12">
        <h1>MXPTA Afterschool Admin</h1>
        <p class="lead">
            Please enter the admin password to continue.
        </p>
    </div>
</div>
<div class="row">
      <div class="span12">
        <form class="navbar-form pull-left" method="POST" action="{{ url_for('.admlogin') }}">
        <input type="password" class="span4" name="password">
        <button type="submit" class="btn">Submit</button>
        </form>
    </div>
</div>
{% endblock body %}