<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Varela+Round|Coming+Soon' rel='stylesheet' type='text/css'>
<style>

    p {
        margin: 0px 0px 0px 0px;
        margin-left: 15px;
    }

    h1 {
        margin: 0px 0px 0px 0px;
        margin-left: 25px;
    font-family: 'Varela Round', sans-serif;
}

h2 {
    margin: 0px 0px 0px 0px;
    margin-left: 25px;
    font-family: 'Varela Round', sans-serif;
}

h3 {
    margin: 0px 0px 0px 0px;
    margin-left: 25px;
    font-family: 'Varela Round', sans-serif;
}

h4 {
    margin: 0px 0px 0px 0px;
    margin-left: 25px;
    font-family: 'Varela Round', sans-serif;
}

h5 {
    margin: 0px 0px 0px 0px;
    margin-left: 25px;
    font-family: 'Varela Round', sans-serif;
}


    .roster {
        page-break-after: always;
    }

    .newspaper-a{font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        font-size:12px;
        text-align:left;border-collapse:collapse;
        border:1px solid #999;margin:20px;}

    .newspaper-a th{font-weight:normal;font-size:14px;border-bottom:1px dashed #777;
        padding:12px 17px;}

    .newspaper-a td{ padding:7px 17px;}

    .newspaper-a tbody tr:hover td{color:#339;background:#d0dafd;}

    .emaillist {
        width: 80%;
        border: 1px solid;
        margin-left: 25px;
        padding: 10px;
        font-family: 'Courier', monospace;
    }
</style>
</head>

<body>
{% for course in courses %}
<div class="roster">
    <h1>{{ course.titleGrade() }}</h1>
    <h2>{{ course.instructor }}</h2>
    <h5><a href="{{ url_for( '.reportRosterCSV', course_id=course.id) }}-{{ course.course_info.slug}}.csv">
        Download as .CSV
    </a></h5>
    <table class="newspaper-a">
    <tr>
        <th>Student</th>
        <th>Teacher</th>

        {% if course.maxgrade>0 %}
            <th>Grade</th>
        {% endif %}

        <th>Parent</th>
        <th>Phone</th>
        <th>Email</th>
        <th>LEARNS</th>
    </tr>

    {% for stu in course.students %}
    <tr>
        <td>{{ stu.displayname() }}</td>
        <td>{{ stu.classroom.instname }} ({{ stu.classroom.room}})</td>

        {% if course.maxgrade>0 %}
            <td>{{ stu.gradeabbr() }}</td>
        {% endif %}

        <td>{{ stu.user.displayname() }}</td>
        <td>{{ stu.user.phone }}</td>
        <td>{{ stu.user.email }}</td>
        {% with afc = stu.aftercareRoom() %}
        <td>{% if afc %}{{ afc }}{% endif %}</td>
        {% endwith %}
    </tr>
    {% endfor %}
    </table>

    {% if classEmail %}
    <h4>Class Email List:</h4>
    <div class="emaillist">
       {% for email in classEmail %}
       {{ email }}{% if not loop.last %}, {% endif %}
       {% endfor %}
    </div>
    {% endif %}

</div>
{% endfor %}

</body>
</html>