<html>
<style>
    table, th, td {
        border: 0px solid black;
    }

    .tdlabel {
        text-align: right;
    }

    h4 {
        margin-bottom: 0px;
    }

    p {
        margin: 0px 0px 0px 0px;
        margin-left: 15px;
    }
</style>


<body>
<table>
    <tr>
        <td class="tdlabel">Total Payments Recorded:</td>
        <td> ${{ payment_total }}</td>
    </tr>

    <tr>
        <td class="tdlabel">Manual Payments:</td>
        <td> ${{ manual_total }}</td>
    </tr>


    <tr>
        <td class="tdlabel">Total Enrolled:</td>
        <td> ${{ enrolled_total }}</td>
    </tr>

    <tr>
        <td class="tdlabel">Total Registered:</td>
        <td> ${{ registered_total }}</td>
    </tr>

    <tr>
        <td class="tdlabel">Scholarships Offered:</td>
        <td> ${{ schol_grant }}</td>
    </tr>

    <tr>
        <td class="tdlabel">Scholarships Given:</td>
        <td> ${{ schol_given }}</td>
    </tr>

    <tr>
        <td class="tdlabel">Scholarships Total:</td>
        <td> ${{ schol_total }}</td>
    </tr>



</table>
</body>
</html>