<html>
<style>
    table, th, td {
        border: 1px solid black;
    }

    h4 {
        margin-bottom: 0px;
    }

    p {
        margin: 0px 0px 0px 0px;
        margin-left: 15px;
    }
</style>

<body>
    <div>
        <table>

            <tr>
                <td><h1>Monday</h1></td>
                <td><h1>Wednesday</h1></td>
                <td><h1>Friday</h1></td>
            </tr>

        {% for i in range(maxGrid) %}
            <tr>
            {% for weekday in weekdays %}
                <td>
                    {% if grid[weekday][i] %}
                        {% set course = grid[weekday][i] %}
                        <h4>{{ course.titleGrade() }}</h4>
                        <p>{{ course.instructor }}</p>
                        <p>${{ course.fee }}  / {{ course.minimum }} - {{ course.capacity }}  </p>
                    {% endif %}
                </td>
            {% endfor %}
            </tr>
        {% endfor %}

        </table>
    </div>

{% for course in courses %}
    <div>
        <h1>{{ course.titleGrade() }}</h1>
        <h3>Instructor: {{course.instructor.instname}}</h3>
        <br>
        <p>
            {{ descs[ course.course_info.slug] }}
        </p>



        {% if course.instructor.bio %}
        <br>
        <p>
        <i>About the Instructor:</i>
            {{ course.instructor.bio }}
        </p>
        {% endif %}

     </div>
{% endfor%}
</body>
</html>