<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Varela+Round|Coming+Soon' rel='stylesheet' type='text/css'>
<style>

    p {
        margin: 0px 0px 0px 0px;
        margin-left: 15px;
    }

    h1 {
        margin: 0px 0px 0px 0px;
        margin-left: 25px;
    font-family: 'Varela Round', sans-serif;
}

h2 {
    margin: 0px 0px 0px 0px;
    margin-left: 25px;
    font-family: 'Varela Round', sans-serif;
}

h3 {
    margin: 0px 0px 0px 0px;
    margin-left: 25px;
    font-family: 'Varela Round', sans-serif;
}

h4 {
    margin: 0px 0px 0px 0px;
    margin-left: 25px;
    font-family: 'Varela Round', sans-serif;
}

h5 {
    margin: 0px 0px 0px 0px;
    margin-left: 25px;
    font-family: 'Varela Round', sans-serif;
}


    .roster {
        page-break-after: always;
    }

    .newspaper-a{font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        font-size:12px;
        text-align:left;border-collapse:collapse;
        border:1px solid #999;margin:20px;}

    .newspaper-a th{font-weight:normal;font-size:14px;border-bottom:1px dashed #777;
        padding:12px 17px;}

    .newspaper-a td{ padding:7px 17px;}

    .newspaper-a tr{ border-bottom: 1px solid #ddd; }

    .newspaper-a tbody tr:hover td{color:#339;background:#d0dafd;}

    .emaillist {
        width: 80%;
        border: 1px solid;
        margin-left: 25px;
        padding: 10px;
        font-family: 'Courier', monospace;
    }
</style>
</head>

<body>
<h1>Waitlists</h1>

<div class="roster">
    <table class="newspaper-a">
    <tr>
        <th>User</th>
        <th>Student</th>
        <th>Enrolled</th>
        <th>Orig Choice</th>
    </tr>

    {% for req in reqs %}
    <tr>
        <td><b>{{ req.student.user.displayname() }}</b> -- {{req.student.user.email}}</td>

        <td><b>{{ req.student.displayname() }}</b></td>

        <td>
            {{ req.course.titleGrade() }}
        </td>

        <td>
            {% if req.altcourse %}
               {{ req.altcourse.titleGrade() }}
            {% endif %}
        </td>


    </tr>
    {% endfor %}
    </table>
</div>

</body>
</html>