<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Varela+Round|Coming+Soon' rel='stylesheet' type='text/css'>
<style>

    p {
        margin: 0px 0px 0px 0px;
        margin-left: 15px;
    }

    h1 {
        margin: 0px 0px 0px 0px;
        margin-left: 25px;
    font-family: 'Varela Round', sans-serif;
}

h2 {
    margin: 0px 0px 0px 0px;
    margin-left: 25px;
    font-family: 'Varela Round', sans-serif;
}

h3 {
    margin: 0px 0px 0px 0px;
    margin-left: 25px;
    font-family: 'Varela Round', sans-serif;
}

h4 {
    margin: 0px 0px 0px 0px;
    margin-left: 25px;
    font-family: 'Varela Round', sans-serif;
}

h5 {
    margin: 0px 0px 0px 0px;
    margin-left: 25px;
    font-family: 'Varela Round', sans-serif;
}


    .roster {
        page-break-after: always;
    }

    .newspaper-a{font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        font-size:12px;
        text-align:left;border-collapse:collapse;
        border:1px solid #999;margin:20px;}

    .newspaper-a th{font-weight:normal;font-size:14px;border-bottom:1px dashed #777;
        padding:12px 17px;}

    .newspaper-a td{ padding:7px 17px;}

    .newspaper-a tr{ border-bottom: 1px solid #ddd; }

    .newspaper-a tbody tr:hover td{color:#339;background:#d0dafd;}

    .emaillist {
        width: 80%;
        border: 1px solid;
        margin-left: 25px;
        padding: 10px;
        font-family: 'Courier', monospace;
    }
</style>
</head>

<body>
<h1>Teacher Report</h1>
{% for teacher in teachers %}

<div class="roster">
    <h1>{{ teacher.gradeAbbr() }} - {{ teacher.instname }}</h1>
    <table class="newspaper-a">
    <tr>
        <th>{{ teacher.instname }}</th>
        <th>Monday</th>
        <th>Wednesday</th>
        <th>Friday</th>
    </tr>

    {% for stu in teacher.students %}
        {% if stu.courses %}
            <tr>
                <td><b>{{ stu.displayname() }}</b></td>
                <td>
                    {% for c in stu.courses %}
                    {% if c.weekday=='Monday'%} {{ c.titleGrade() }} Rm {{c.room}}<br>{% endif %}
                    {% endfor %}
                </td>

                <td>
                    {% for c in stu.courses %}
                    {% if c.weekday=='Wednesday'%} {{ c.titleGrade() }} Rm {{c.room}}<br>{% endif %}
                    {% endfor %}
                </td>

                <td>
                    {% for c in stu.courses %}
                    {% if c.weekday=='Friday'%} {{ c.titleGrade() }} Rm {{c.room}}<br>{% endif %}
                    {% endfor %}
                </td>

            </tr>
        {% endif %}
    {% endfor %}
    </table>
</div>
{% endfor %}

</body>
</html>