<html>
<head>
    <style>
.newspaper-a{font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size:12px;
    text-align:left;border-collapse:collapse;
    border:1px solid #999;margin:20px;}

.newspaper-a th{font-weight:normal;font-size:14px;border-bottom:1px dashed #777;
    padding:12px 17px;}

.bigline td
{
    border-bottom: 3px solid #444;
}

.newspaper-a td{ padding:7px 17px;}

.newspaper-a tbody tr:hover td{color:#339;background:#d0dafd;}



    </style>
</head>
    <body>

    <h2>Aftercare Room Assignments</h2>

    <table class="newspaper-a">
    <tr>
        <th>Student</th>
        <th>Parent</th>
        <th>Grade</th>
        <th>LEARNS</th>
        <th>BEARS</th>
        <th>Room</th>
    </tr>

    {% for stu in students %}
        <tr>
            <td>{{ stu.displayname() }}</td>
            <td>{{ stu.user.displayname() }}</td>
            <td>{{ stu.gradeabbr() }}</td>
            <td>{% if stu.learns %}LEARNS{%endif%}</td>
            <td>{% if stu.bears %}BEARS{%endif%}</td>
            <td>{{ stu.afcroom|default("") }}</td>
        </tr>
    {% endfor %}

    {# second pass, students with BEARS flag, but no room assigned #}
    <tr class="bigline">
        <td colspan="4"</td>
    </tr>
    {% for stu in students %}
        {% if stu.user.bears and not stu.afcroom %}
        <tr>
            <td>{{ stu.displayname() }}</td>
            <td>{{ stu.user.displayname() }}</td>
            <td>{{ stu.gradeabbr() }}</td>
            <td></td>
        </tr>
        {% endif %}
    {% endfor %}


    </table>

    </body>
</html>