<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Varela+Round|Coming+Soon' rel='stylesheet' type='text/css'>
<style>

    p {
        margin: 0px 0px 0px 0px;
        margin-left: 15px;
    }

    h1 {
        margin: 0px 0px 0px 0px;
        margin-left: 25px;
    font-family: 'Varela Round', sans-serif;
}

h2 {
    margin: 0px 0px 0px 0px;
    margin-left: 25px;
    font-family: 'Varela Round', sans-serif;
}

h3 {
    margin: 0px 0px 0px 0px;
    margin-left: 25px;
    font-family: 'Varela Round', sans-serif;
}

h4 {
    margin: 0px 0px 0px 0px;
    margin-left: 25px;
    font-family: 'Varela Round', sans-serif;
}

h5 {
    margin: 0px 0px 0px 0px;
    margin-left: 25px;
    font-family: 'Varela Round', sans-serif;
}


    .roster {
        page-break-after: always;
    }

    .newspaper-a{font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        font-size:10px;
        text-align:left;border-collapse:collapse;
        border:1px solid #999;margin:20px;}

    .newspaper-a th{font-weight:normal;font-size:14px;border-bottom:1px dashed #777;
        padding:12px 17px;}

    .newspaper-a td{ padding:7px 17px;}

    .newspaper-a tr{ border-bottom: 1px solid #ddd; }

    .newspaper-a tbody tr:hover td{color:#339;background:#d0dafd;}

    .emaillist {
        width: 80%;
        border: 1px solid;
        margin-left: 25px;
        padding: 10px;
        font-family: 'Courier', monospace;
    }
</style>
</head>

<body>
{% for g in range(6) %}

<div class="roster">
    <h1> Grade {{ gradeAbbr[g] }}</h1>
    <table class="newspaper-a">
    <tr>
        <th>&nbsp</th>
        <th>Monday</th>
        <th>Wednesday</th>
        <th>Friday</th>
    </tr>

    {% for stu in stusByGrade[g] %}
    <tr>
        <td><b>{{ stu.displayname() }}</b></td>
        <td>
            {% for c in stu.courses %}
            {% if c.weekday=='Monday'%} <small>{{ c.course_info.title }}</small><br> <strong>Rm {{c.room}}</strong><br>{% endif %}
            {% endfor %}
        </td>

        <td>
            {% for c in stu.courses %}
            {% if c.weekday=='Wednesday'%} <small>{{ c.course_info.title }}</small><br><strong>Rm {{c.room}}</strong><br>{% endif %}
            {% endfor %}
        </td>

        <td>
            {% for c in stu.courses %}
            {% if c.weekday=='Friday'%} <small>{{ c.course_info.title }}</small><br><strong>Rm {{c.room}}</strong>{% endif %}
            {% endfor %}
        </td>

    </tr>
    {% endfor %}

    </table>
</div>
{% endfor %}

</body>
</html>