{% extends "base.html" %}

{% block title %}
Account - MX PTA Afterschool
{% endblock %}


{% block content %}

<div class="container">

		<div class="row">
			<div class="col-md-8">
                <br><br>
                <div class="panel panel-primary">
					<div class="panel-heading">
    					<h3 class="panel-title">{{ user.displayname() }} </h3>
  					</div>

  					<div class="panel-body">

              			<h4>Email: {{ user.email }}</h4>
                        <h4>Phone: {{ user.phone }}</h4>

                        <h4>Scholarship:
                        {% if user.scholarship %}
                            Requested (${{ user.scholrequest }})
                        {% else %}
                            Not Requested.
                        {% endif %}
                        </h4>
                        <p>{{ settings.semester }}</p>

                        <a href="{{ url_for('user', user_id=user.id ) }}" class="pull-right">Edit Account Info / Request Scholarship</a>

                        </div>
                </div>
				<div class="panel panel-primary">
					<div class="panel-heading">
    					<h3 class="panel-title">Schedule</h3>
  					</div>

  					<div class="panel-body">

  						{% if reqs %}

      					<table class="table">
					        <thead>
					          <tr>
					            <th>Weekday</th>
					            <th>Student</th>
					            <th>Class</th>
					            <th>Amount</th>
					          </tr>

					        </thead>
					        <tbody>
					        	{% for req in reqs %}
					          <tr>
					            <td>{{ req.course.weekday }}</td>
					            <td>{{ req.student.displayname() }}</td>
					            <td>{{ req.course.titleGrade() }}</td>
					            <td>
					            	{% if req.status=='enrolled' %}
					            	PAID
					            	{% else %}
					            	${{ req.course.fee }}
					            	{% endif %}
					            </td>
					          </tr>
					          	{% endfor %}

                                {% if user.scholgrant %}
                                <tr>
                                    <td colspan="3">Scholarship (Paid by MXPTA)</td>
                                    <td><i>${{ user.scholgrant }}</i></td>
                                </tr>
                                {% endif %}

								{% if total > 0 %}

								<tr>
					            <td colspan=3><strong>Total Due </strong></td>
					            <td>${{ '%3.2f' % total }}</td>
                                </tr>

					            {% endif %}
					          </tr>

					        </tbody>
					      </table>

					{% if total > 0 %}
					{#}
					<div class="col-md-8">

					<h5></em>Please Note: your total includes an online payment processing fee.
						If you would like to pay by check directly, this fee will be waived.</em></h5>
					</div>
					#}

						<div class="pull-right">
		  					<form action="{{ url_for('payment') }}" method="POST">
							  <script
							    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
							    data-key="{{ pubkey }}"
							    data-amount="{{ '%.0f' % (total*100) }}"
							    data-name="MX PTA Afterschool"
							    data-description="{{ settings.semester }} Registration (${{ '%3.2f' % total }})"
							    data-image="{{ url_for('static', filename='mx-logo128.jpg') }}"
							    data-email="{{ user.email }}">

							  </script>
							</form>
						</div>

	  					{% endif %}

	  				{% else %}
	  					<!-- Empty Reqs list -->
                        <div class="col-md-1">
                            <h1 class="pull-left"><span class="glyphicon glyphicon-calendar"></span></h1>
                        </div>
                        <div class="col-md-9">

                    {#
                       <p>
                           The early enrollment period is over and classes have been assigned
                           by lottery. If you've already registerd, you should receive an email
                           invoice soon if you haven't already.
                       </p>
                        <p>
                            <b>Enrollment is still open.</b> You may still enroll in classes, but
                            some classes are already full. If you choose a full class, you will be
                            put on a waiting list for that class and will only be enrolled if a space
                            opens up.
                        </p>
                    #}
                        <p>
                            Priority Registration ends at 10:00 p.m. on {{ calendar['Lottery'].fmtDate() }}, at which time
                            students will be assigned to classes by Lottery if the class is overbooked. If you
                            miss the lottery date, you may still enroll in classes if there are open spots. Final
                            registration ends on {{ calendar['Reg End'].fmtDate() }}.

                            Once your student(s) are enrolled, you will receive an invoice email with your
                            class schedule and payment options.
                        </p>
	  					<p>Popular classes might have waiting lists, be sure to make your payment promptly once you
                            receive your schedule to ensure your child doesn't lose their spot.
	  					</p>

                        </div>
	  				{% endif %}

					  </div> <!-- panel body -->

				 </div> <!-- panel -->

                {% for student in user.students %}
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ student.displayname() }} </h3>
                        </div>
                        <div class="panel-body">
                            <h4>Grade: {{ student.gradeabbr() }}</h4>
                            <h4>Teacher: {{ student.classroom.instname }}</h4>

                            {% if student.bears %}
                                <span class="badge">BEARS</span>
                            {% endif %}

                            {% if student.learns %}
                                <span class="badge">LEARNS</span>
                            {% endif %}

                            <a href="{{ url_for('student', stu_id= student.id  ) }}" class="pull-right">Edit Student Info</a>
                            <br>
                            <hr>
                            <h4>Classes:</h4>

                            <row>
                                <div class="col-sm-12 classbox-bg">

                                   {% for cr in student.requests %}
                                        <div class="col-sm-4 padfix">
                                            <div class="classbox">
                                                <div class="crbox">
                                                    {% if cr.status in ['registered', 'enrolled'] %}
                                                    <h5>Registered</h5>
                                                    {% elif cr.status in ['waitlist'] %}
                                                    <h5><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Waiting List</h5>
                                                    {% else %}
                                                    <h5>First Choice</h5>
                                                    {% endif %}
                                                    <p><strong>{{ cr.course.course_info.title }}</strong></p>
                                                    <div class="row">
                                                        <div class="col-xs-4 text-center"><strong>{{ cr.course.dayAbbr() }} </strong></div>
                                                        <div class="col-xs-4">
                                                            {% if cr.course.instructor %}
                                                            {{ cr.course.instructor.shortName() }}
                                                            {% endif %}
                                                        </div>
                                                        <div class="col-xs-4"><strong>${{ cr.course.fee }}</strong></div>
                                                    </div>
                                                </div>

                                                {% if cr.status in ['requested', 'provisional'] %}

                                                <div class="crbox">
                                                    <h5>Alternate</h5>
                                                    <p><strong>{% if cr.altcourse %} {{ cr.altcourse.course_info.title }} {% else %} None {% endif %}</strong></p>
                                                    {% if cr.altcourse %}
                                                    <div class="row">
                                                        <div class="col-xs-4 text-center"><strong>{{ cr.altcourse.dayAbbr() }} </strong></div>
                                                        <div class="col-xs-4">
                                                            {% if cr.altcourse.instructor %}
                                                            {{ cr.altcourse.instructor.shortName() }}
                                                            {% endif %}
                                                        </div>


                                                        <div class="col-xs-4"><strong>${{ cr.altcourse.fee }}</strong></div>
                                                    </div>
                                                    {% else %}
                                                    <div class="row">
                                                        <div class="col-xs-4 text-center">---</div>
                                                        <div class="col-xs-4"></div>
                                                        <div class="col-xs-4">---</div>
                                                    </div>
                                                    {% endif %}
                                                </div>

                                                <div class="crbox-btnbox text-center">
                                                    <a class="btn btn-default btn-xs" href="{{ url_for('enroll', stu_id=student.id, slot=loop.index ) }}">
                                                        <span class="glyphicon glyphicon-pencil"></span> Change
                                                    </a>
                                                    <a class="btn btn-default btn-xs" href="{{ url_for('deleteReq', stu_id=student.id, slot=loop.index ) }}">
                                                        <span class="glyphicon glyphicon-trash"></span> Delete
                                                    </a>
                                                </div>

                                                {% endif %}

                                            </div>
                                        </div>
                                   {% endfor %}

                                  {% if student.requests|length == 0 %}
                                    <div class="col-sm-12 text-center">
                                    <br><h4>{{ student.firstname }} is not signed up for any classes.</h4><br>
                                    <a class="btn btn-default" href="{{ url_for('enroll', stu_id=student.id ) }}">
	  				                    <span class="glyphicon glyphicon-plus"></span> Enroll
				                    </a>
                                    </div>
                                  {% elif student.requests|length == 1 %}
                                    <div class="col-sm-8 text-center">
                                    <br><h4>{{ student.firstname }} has selected one class.</h4><br>
                                    <a class="btn btn-default" href="{{ url_for('enroll', stu_id=student.id ) }}">
	  				                    <span class="glyphicon glyphicon-plus"></span> Add Another
				                    </a>
                                    </div>
                                  {% elif student.requests|length >= 2 %}
                                    <div class="col-sm-4 text-center">
                                    <br><h4>{{ student.firstname }} has selected {{ student.requests|length }} classes.</h4>
                                    <a class="btn btn-default" href="{{ url_for('enroll', stu_id=student.id ) }}">
	  				                    <span class="glyphicon glyphicon-plus"></span> Add Another
				                    </a>
                                    </div>
                                  {% endif %}

                                </div>
                            </row>
                        </div>


                    </div>
                {% endfor %}

                <div class="panel panel-primary">
                    <!-- Add Student Button -->

    					<div class="panel-footer text-center">

                            <a class="btn btn-warning btn-lg" href="{{ url_for('student' ) }}">
                                <span class="glyphicon glyphicon-plus"></span>
                                Add Student
                            </a>
                        </div>

                </div>

				<a class="btn btn-default btn-lg" href="{{ url_for('logout') }}">
	  				<span class="glyphicon glyphicon-remove-sign"></span> Sign Out
				</a>
                <br><br><br>

      		</div>

      		<div class="col-md-4">
                <br><br>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Information</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table">
                                <thead>
                                  <tr>
                                    <th>Date</th>
                                    <th>&nbsp</th>
                                  </tr>
                                </thead>
                                <tbody>

                                   {% for ev in minical %}
                                   <tr>
                                       <th scope="row">{{ ev.date.strftime("%-m/%-d") }}</th>
                                       <td>{{ ev.desc }}</td>
                                   </tr>
                                   {% endfor %}

                                </tbody>
                              </table>

                            <hr>
                            <p>
                                See the <a href="{{ url_for('faq') }}">Help & FAQ Page</a> for
                                complete calendar, class schedule and holidays, and additional
                                information.
                            </p>
                            <hr>
                            <p>
                                If you have comments, questions or special instructions, please email Vicki Davis
                                at <a href="mailto:vicki.davis@mxpta.org">vicki.davis@mxpta.org</a>. Thank you!
                            </p>
                        </div>
                    </div>
      		</div>

      	</div> <!-- row -->

</div><!-- /.container -->

{% endblock %}
