{% extends 'admin/master.html' %}
{% block body %}

	<div class="container">
    <h3>Payment for User: {{ user.displayname() }}</h3>

    <div class="row">

         {% if reqs %}

                    <table class="table">
                        <thead>
                          <tr>
                            <th>Weekday</th>
                            <th>Student</th>
                            <th>Class</th>
                            <th>Amount</th>
                          </tr>

                        </thead>
                        <tbody>
                            {% for req in reqs %}
                          <tr>
                            <td>{{ req.course.weekday }}</td>
                            <td>{{ req.student.displayname() }}</td>
                            <td>{{ req.course.titleGrade() }}</td>
                            <td>
                                {% if req.status=='enrolled' %}
                                PAID
                                {% else %}
                                ${{ req.course.fee }}
                                {% endif %}
                            </td>
                          </tr>
                            {% endfor %}

                            {% if user.scholgrant %}
                            <tr>
                                <td colspan="3">Scholarship (Paid by MXPTA)</td>
                                <td><i>${{ user.scholgrant }}</i></td>
                            </tr>
                            {% endif %}

                            <tr>
                            <td colspan=3><strong>Total Due </strong></td>
                            <td>${{ '%3.2f' % total }}</td>
                            </tr>

                          </tr>

                        </tbody>
                      </table>

        {% endif %}

        <form method="POST" action="{{ url_for('.payment', userId=user.id) }}"">
            <fieldset>
                <legend>Payment Info</legend>
                <label>Memo</label>
                <input name="memo" type="text" placeholder="Check 9999...">
                <span class="help-block">Type of payment and any related info, such as a Check number.</span>

                <button name="btn-payment" type="submit" class="btn btn-success">Apply Payment</button>
              </fieldset>

        </form>
    </div>
</div><!-- /.container -->


{% endblock %}
