{% extends 'admin/master.html' %}
{% block body %}

	<div class="container">
      <div class="row">
        {% if message %}
        <div class="alert alert-{{ messageclass }}">
            {{ message|safe }}
        </div>
        {% endif %}

    <h2>Users with Balance</h2>

    <form method="POST" action="">
        <table class="table table-hover">

            <tr>
                <th>#</th>
                <th>User</th>
                <th>Enrolled</th>
                <th>Invoiced</th>
                <th>Schol</th>
                <th>Balance</th>
                <th></th>
            </tr>

          {% for user in users %}
            <tr>
                <td>
                    <label class="checkbox">
                    <input type="checkbox" name="invoice-{{user.id}}"> {{user.id}}
                    </label>
                 </td>
                <td><a href="{{ url_for('user.edit_view', id=user.id ) }}">{{ user.displayname() }}</a></td>
                <td><b onclick="showUser( {{ user.id }})">{{ data[user.id][1] }}/{{ user.totalReqs() }}</b></td>
                <td>{{ user.invoiceSentDesc() }}</td>
                <td>
                    {% if user.scholgrant %}${{ user.scholgrant }}
                    {% elif user.scholarship %}
					<span class="label label-info">Schol.{% if user.scholnote %}<i class="icon-comment icon-white"></i>{% endif %}</span>
					{% endif %}

                </td>
                <td>${{ data[user.id][0] }}</td>
                <td>
                    <a class="btn-small btn-info" href="{{ url_for('.enrollWithoutPayment', userId=user.id) }}">EWP</a>
                    <a class="btn-small btn-success" href="{{ url_for('.payment', userId=user.id) }}"><i class="icon-shopping-cart icon-white"></i>Payment</a>
                </td>
            </tr>
          {% endfor %}
      </table>
        <button name="btn-invoice" type="submit" class="btn btn-primary">Invoice Checked</button>
    </form>
      </div>

        <div class="row">
            <div id="info"><!-- this gets replaced in showStu() --></div>
        </div>


</div><!-- /.container -->

<script>
        function showUser( user_id )
        {
            $.ajax({
                url: "{{ url_for('.userInfo', userId=9999 ) }}".replace("9999", user_id),
                type: 'GET',
                dataType: 'html',
                beforeSend: function() {

                    $('#info').html('<img src="{{ url_for('static', filename='spinner.gif') }}">')
                },
                success: function(data, textStatus, xhr) {

                    $('#info').html(data);

                },
                error: function(xhr, textStatus, errorThrown) {
                    $('#info').html(textStatus);
                }
            });
        }
   </script>

{% endblock %}
