{% extends 'admin/master.html' %}
{% block head %}
<style>

.classmin td {
    background-color: #8daed1;
    padding: 0px;
}
.classmin p {
    color: #fff;
    font-size: 10px;
    padding: 0px;
    margin: 0px;
}

.classmax td {
    background-color: #d1b870;
    padding: 0px;
}
.classmax p {
    color: #54240f;
    font-size: 10px;
    padding: 0px;
    margin: 0px;
}

#info img {
    margin-left: 45%;
}

.infoicon {
    margin-left: 15px;
    margin-right: 5px;
}

.inspect:hover {
    cursor:pointer;
    background-color: #ddddff;
}

</style>
{% endblock %}

{% block body %}

	<div class="container">

		<div class="row">

            {% if badreqs %}
            <div class="alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Warning!</strong> Some course requests have missing "Student":<br>
                {% for cr in badreqs %}
                <a href="{{url_for('courserequest.edit_view', id=cr.id) }}">{{ cr.id }}: {{ cr.course.titleGrade() }}</a><br>
                {% endfor %}
            </div>
            {% endif %}

			<h2>Schedule for course: {{ course.titleGrade() }} ({{ course.weekday }})</h2>

			<form method="POST" action="">

			<table class="table">

			<thead>
				<tr>
					<th>#</th>
					<th>Student</th>
					<th>Second Choice</th>
					<th>Info</th>
					<th>Status</th>
					<th></th>
				</tr>
			</thead>

			{% for req in requests if (req.student != None) %}
			<tr>
				<td>{{ loop.index }}</td>
				<td>
                    <a href="{{ url_for('student.edit_view', id=req.student.id ) }}">
                        <i class="icon-pencil" onclick="showStu( {{ req.student.id }})"></i>
					</a>

                    <b class="inspect" onclick="showStu( {{ req.student.id }})">{{ req.student.displayname() }}</b>
				</td>
				<td>
                    {% if req.altcourse %}{{ req.altcourse.titleGrade() }}{% else %}None{% endif %}
				</td>
				<td>
					<a href="{{ url_for('user.edit_view', id=req.student.user.id ) }}">
					<span class="badge badge-success">
						{{ req.student.numSlots() }}
					</span>
					</a>

					{% if req.student.bears %}
					<span class="label label-info">BEARS</span>
					{% endif %}

                    {% if req.student.learns %}
					<span class="label label-info">LEARNS</span>
					{% endif %}

					{% if req.student.user.scholarship %}
					<span class="label label-info">Schol.{% if req.student.user.scholnote %}<i class="icon-comment icon-white"></i>{% endif %}</span>
					{% endif %}

				</td>
				<td>{{ req.status }} {% if req.seconded %}<i class="icon-warning-sign"></i> {% endif %}
                    {% if req.status=='waitlist' %} ({{req.waitlist}}) {% endif %}
                </td>
				<td>
					<!-- Buttons -->
					{% if req.status == "requested" %}
						<div class="btn-group btn-group-xs">
							<button name="btn-enroll" type="submit" class="btn btn-success" value="{{ req.id }}">Enroll</button>
                            <button name="btn-second" type="submit" class="btn btn-default" value="{{ req.id }}" {% if not req.altcourse %}disabled{% endif %}>2nd</button>
                            <button name="btn-waitlist" type="submit" class="btn btn-default" value="{{ req.id }}">WL</button>
						</div>
					{% elif req.status == "provisional" %}
						<div class="btn-group btn-group-xs">
							<button name="btn-register" type="submit" class="btn btn-warning" value="{{ req.id }}">Confirm</button>
							<button name="btn-request" type="submit" class="btn btn-default" value="{{ req.id }}">Request</button>
						</div>
					{% elif req.status == "dropped" %}
						<div class="btn-group btn-group-xs">
							<button name="btn-request" type="submit" class="btn btn-default" value="{{ req.id }}">Request</button>
						</div>
					{% elif req.status == "registered" %}
						<div class="btn-group btn-group-xs">
							<button name="btn-unregister" type="submit" class="btn btn-danger" value="{{ req.id }}">Unregister</button>
						</div>
                    {% elif req.status == "waitlist" %}
                        <div class="btn-group btn-group-xs">
                            <button name="btn-enroll" type="submit" class="btn btn-info" value="{{ req.id }}">Enroll</button>
                            <button name="btn-request" type="submit" class="btn btn-default" value="{{ req.id }}">Req.</button>
							<button name="btn-drop" type="submit" class="btn btn-default" value="{{ req.id }}">Drop</button>
                        </div>
					{% endif %}
				</td>
			<tr>

            {% if loop.index == course.minimum %}
			<tr  class="classmin"><td colspan=6><p class="text-center">minimum</p></td>
			{% endif %}


			{% if loop.index == course.capacity %}
			<tr  class="classmax"><td colspan=6><p class="text-center">capacity</p></td>
			{% endif %}

			{% endfor %}
			</table>
			</form>
		</div>

        <div class="row">
            <a class="btn btn-primary" href="{{ url_for('schedule.lotto', courseId=course.id, count=1) }}"><i class="icon-star icon-white"></i>Lotto One</a>
            <a class="btn btn-primary" href="{{ url_for('schedule.lotto', courseId=course.id, count=999) }}"><i class="icon-star-empty icon-white"></i>Lotto All</a>
            <br><br>
        </div>

        <div class="row">
            <div id="info"><!-- this gets replaced in showStu() --></div>
        </div>
	</div>


   <script>
        function showStu( stu_id )
        {
            $.ajax({
                url: "{{ url_for('schedule.stuInfo', stuId=9999 ) }}".replace("9999", stu_id),
                type: 'GET',
                dataType: 'html',
                beforeSend: function() {

                    $('#info').html('<img src="{{ url_for('static', filename='spinner.gif') }}">')
                },
                success: function(data, textStatus, xhr) {

                    $('#info').html(data);

                },
                error: function(xhr, textStatus, errorThrown) {
                    $('#info').html(textStatus);
                }
            });
        }
   </script>
{% endblock %}
