<div class="span8">
    <h2><a href="{{ url_for('user.edit_view', id=user.id ) }}" target="_blank">{{ user.displayname() }}</a></h2>

    {% if user.bears %}
    <span class="label label-info">BEARS</span>
    {% endif %}

    {% if user.scholarship %}
    <span class="label label-info">Schol. ${{ user.scholrequest }}</span>

    {% if user.scholnote %}
    <p style="border: 1px solid #ddd;background:#ffe; padding: 5px;" >
        <i class="icon-comment"></i>
        {{ user.scholnote }}
    </p>
    {% endif %}

    {% endif %}
    <br>

    <h5><i class="infoicon icon-bell"></i>{{ user.phone }} <i class="infoicon icon-envelope"></i></span>{{ user.email }}</h5>
    <hr>
    <h3>Students:</h3>
    {% for stu in user.students %}
    <b>{{ stu.displayname() }} </b> ({{ stu.gradetext() }})<br>
        {% for cr in stu.requests %}
                {% if cr.seconded %}<i class="icon-warning-sign"></i> {% endif %} {{ cr.course.titleGrade() }} - <span class="label label-{{ cr.statusColor() }}">{{ cr.status }}</span>
                <i>
                    {% with alt=cr.altcourse %}
                        {% if alt %}
                            Alt: {{ alt.titleGrade() }}
                        {% else %}
                            No alternate.
                        {% endif %}
                    {% endwith %}
                </i><br>

        {% endfor %}
        <hr>
    {% endfor %}
</div>
