{% extends 'admin/master.html' %}
{% block body %}


	<h2>Courses</h2>

	<div class="container">

        {% if badreqs %}
        <div class="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Warning!</strong> Some course requests have missing "Student":<br>
            {% for cr in badreqs %}
            <a href="{{url_for('courserequest.edit_view', id=cr.id) }}">{{ cr.id }}: {{ cr.course.titleGrade() }}</a><br>
            {% endfor %}
        </div>
        {% endif %}


	<ul id="navigation" class="unstyled">
      {% for course in courses %}
       <li>
           <h4><span class="badge {% if course.countReq() > course.capacity %}badge-warning{% else %}badge-success{% endif %}">{{ course.countReq() }}</span>
               <span class="badge badge-info">{{ course.countAlt() }}</span>
               <span class="badge badge-info"><i class="icon-thumbs-up icon-white">&nbsp</i>{{ course.countRegistered() }}</span>
               <span class="badge badge-success"><i class="icon-ok-sign icon-white">&nbsp</i>{{ course.countEnrolled() }}</span>
               <a href="{{ url_for('schedule.course', courseId=course.id) }}">{{ course.titleGrade() }}</a>
           </h4>
       </li>
      {% endfor %}
  </ul>

</div><!-- /.container -->


{% endblock %}
