<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}MX PTA Afterschool Programs{% endblock %}</title>

    <!-- Bootstrap and friends -->
	<link rel="stylesheet" type="text/css"
		href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!-- Custom Styles-->
	<link rel="stylesheet" type="text/css"
		href="{{ url_for('static', filename='css/mx-afterschool.css') }}">

    <link href='http://fonts.googleapis.com/css?family=Varela+Round|Coming+Soon' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="navbar navbar-mx navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('index') }}">MX PTA Classes</a>
        </div>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li {% if nav=="home" %} class="active" {% endif %} ><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="http://www.malcolmxelementary.org">Website</a></li>
            <li {% if nav=="faq" %} class="active" {% endif %} ><a href="{{ url_for('faq') }}">FAQ</a></li>
            <li {% if nav=="contact" %} class="active" {% endif %} ><a href="{{ url_for('contact') }}">Contact</a></li>
          </ul>

        {% if user %}
             <p class="navbar-text navbar-right">
                 <span class="glyphicon glyphicon-user"></span>
               <a href="{{ url_for('account') }}" class="navbar-link">{{ user.displayname() }}</a></p>
        {% endif %}

        </div><!--/.nav-collapse -->
      </div>
    </div>

    {%- block content %}
    {%- endblock %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/salvattore.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/validator.min.js') }}"></script>

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54707423-1', 'auto');
  ga('send', 'pageview');

    </script>

    {%- block scripts %}
    {%- endblock %}

  </body>
</html>
