{% extends "base.html" %}

{% block title %}
Contact - MX PTA Afterschool
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row"><br><br></div>
	    <div class="row">

            <div class="col-md-2"></div>
		    <div class="col-md-8">

                <h1>Afterschool contact info</h1>
                <p>For more information about the Afterschool Programs, please contact:</p>
                <div class="clearfix">
                    <img src="{{ url_for( 'static', filename='imgs/flat-faces-icons-circle-woman-1.png' ) }}"
                         class="pull-left contact-img">
                    <h3>Vicki Davis</h3>
                    <h4>Enrollment, Registration and Payments</h4>
                    <b>(510) 734-4385</b><br>
                    <em><a href="mailto:vicki.davis@mxpta.org">vicki.davis@mxpta.org</a></em><br>
                </div>
                <hr>

                 <div class="clearfix">
                    <img src="{{ url_for( 'static', filename='imgs/flat-faces-icons-circle-woman-1.png' ) }}"
                         class="pull-left contact-img">

                    <h3>Vicki Davis</h3>
                    <h4>Instructor Liason and Contracts</h4>
                    <b>(510) 734-4385</b><br>
                    <em><a href="mailto:vicki.davis@mxpta.org">vicki.davis@mxpta.org</a></em><br>

                </div>
                <hr>

             </div>
            <div class="col-md-2"></div>
        </div>

    </div><!-- /.container -->

{% endblock %}