{% extends "base.html" %}

{% block title %}
{{ cinfo.title }} MX PTA Afterschool
{% endblock %}

{% block content %}

<div class="container">

    <div class="row">
        <div class="col-md-12">
			<div class="page-header">
  				<h1>{{ cinfo.title }}</h1>
			</div>
        </div>
    </div>

    <div class="row">
		<div class="col-xs-12 col-sm-12 col-md-3 courseinfo">

            {% for group in sessions|groupby('weekday') %}
                <h3> <span class="glyphicon glyphicon-calendar"></span> {{ group.grouper }} </h3>
                {% for ss in group.list %}
                    <hr>
                    <p><strong>{{ ss.titleGrade() }}</strong> <small>{{ ss.displayTime() }}</small></p>
                    {% if ss.instructor %}
                        <p>Instructor: {{ ss.instructor }}</p>
                    {% endif %}
                    {% if ss.room %}
                        <p>Room: {{ ss.room }}</p>
                    {% endif %}

                    {% if ss.fee %}
                    <p>Course Fee: ${{ ss.fee }}</p>
                    {% endif %}

                {% endfor %}
            {% endfor %}

            {#
			<p class="lead"> {{ course.weekday }} </p>
            <p>Instructor: {{ course.instructor }}</p>
            <p>Course Fee: ${{ course.fee }}</p>

            {% if user %}

                {% if course.waitlist %}
                    <hr>
                    <p>
                        This class is <b>full</b>. You can join the waiting list
                        and might be enrolled if a spot opens up.
                    </p>
                {% else %}
                <a class="btn btn-primary btn-lg" href="{{ url_for('enroll') }}">
                    <span class="glyphicon glyphicon-plus-sign"></span> Enroll
                </a>
                {% endif %}
            {% else %}
            <a class="btn btn-primary btn-lg" href="{{ url_for('signup') }}">
                Sign up for Classes
	        </a>
            {% endif %}
            #}

		</div>

		<div class="col-xs-12 col-sm-6 col-md-5">
                {{ desc }}

                {% if instinfo %}
                    <hr>
                    <h4><i>About the Instructor:</i></h4>

                    {% for inst, instbio in instinfo %}
                        <h3>{{ inst.instname }}</h3>
                        {{ instbio }}
                    {% endfor %}

                {% endif %}


	    </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            {% if cinfo.picurl %}
                <img src="{{url_for('static', filename=cinfo.picurl )}}">
            {% else %}
                <img src="{{url_for('static', filename='imgs/course-default.jpg' )}}">
            {% endif %}
	    </div>


    </div>


    </div><!-- /.container -->

{% endblock %}
