{% extends "base.html" %}

{% import 'helpers.html' as helpers %}

{% block title %}
Enroll - MX PTA Afterschool
{% endblock %}


{% block content %}

<div class="container">

	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
  				<h1>Sign up <small>for afterschool classes</small> </h1>
			</div>

            {{ helpers.minigrid( grid ) }}

			<p class="lead">Choose classes for {{ student.firstname }} below.
            <small>Click on the class names above to view a description (opens in a new tab).</small></p>
		</div>
	</div>


	<div class="row">

		<div class="col-md-2">
		</div>

		<div class="col-md-8">
			<div class="panel panel-default">
				<!-- <div class="panel-heading">
    				<h3 class="panel-title">Number of classes</h3>
  				</div> -->

				<div class="panel-heading">
					{{ helpers.stu_picker( student, pickstu ) }}
				</div>

                <form method="post" class="form-horizontal" action="{{ url_for('enroll_submit', stu_id=student.id, slot=slot ) }}">

                    {% if slot %}
                    <input type="hidden" name="slot" value="{{ slot }}">
                    {% endif %}


					<fieldset>
						<div class="panel-body">

                            <!-- First Choice -->
								<div class="form-group">

								  <label class="col-md-6 control-label" for="first">First Choice</label>
								  <div class="col-md-6">
								    <select id="first" name="first" class="form-control">

                                    {% if not slot %}
						      		<option>None</option>
                                    {% endif %}

                                    {% for course in courseList %}
						      		  <option value="{{ course.id }}"
						      			{% if currsel[ 0 ]==course.id %}
						      			 selected
						      			{% endif %}
						      			>
						      		{{ course.weekday[:3] }} -
                                        {% if course.waitlist %}WAITLIST - {% endif %}
                                        {{ course.titleGrade() }}
										  {{ course.displayTime2() }}
									  </option>
						      		{% endfor %}
								    </select>
								  </div>
								</div>

                                <div class="form-group">

								  <label class="col-md-6 control-label" for="second">Alternate</label>
								  <div class="col-md-6">
								    <select id="second" name="second" class="form-control">
						      		<option>None</option>
                                    {% for course in altCourseList %}
						      		  <option value="{{ course.id }}"
						      			{% if currsel[ 1 ]==course.id %}
						      			 selected
						      			{% endif %}
						      			>
						      		{{ course.weekday[:3] }} -
                                        {% if course.waitlist %}WAITLIST - {% endif %}
                                        {{ course.titleGrade() }}</option>
						      		{% endfor %}
								    </select>
								  </div>
								</div>


						</div> <!-- Panel Body (Enroll Days) -->

			  			 <div class="panel-footer">

                             <p>
                                 If you choose 'None' for your alternate course, you will be put on a waitlist
                                 for your first choice if it fills up during the lottery process.
                             </p>

						    <div class="form-group">
						        <div class="col-xs-offset-2 col-xs-10 text-center">
						            <button type="submit" class="btn btn-primary">Okay</button>
						        </div>
						    </div>

						</div> <!-- Panel Footer -->

					</fieldset>
				</form>
			</div>
		</div>
	</div>

	<div class="col-md-2">
	</div>

	</div><!-- row -->

</div><!-- /.container -->

{% endblock %}
