{% extends "base.html" %}

{% import 'helpers.html' as helpers %}

{% block title %}
Enroll - MX PTA Afterschool
{% endblock %}


{% block content %}

<div class="container">

	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
  				<h1>Sign up <small>for afterschool classes</h1>
			</div>

            {{ helpers.minigrid( grid ) }}

			<p class="lead">
			Pick a first and (optionally) a second choice for {{ student.firstname }}.
            </p>

            <div class="panel panel-danger">
              <div class="panel-heading">
                <h3 class="panel-title">Important Note</h3>
              </div>
              <div class="panel-body">
                  <p>
                <b>Early enrollment is finished. Some courses are already full. Full courses have a waiting
                list. If you choose a waitlisted course you will only be added if a spot opens up.</b>
                  </p>

              </div>
            </div>

            {#
			<p>Because of limited space, all students may not get their first choice for classes. Students
               placed in their second choice classes will be given priority next semester.
			</p>
            #}
		</div>
	</div>


	<div class="row">

		<div class="col-md-2">
		</div>

		<div class="col-md-8">
			<div class="panel panel-default">
				<!-- <div class="panel-heading">
    				<h3 class="panel-title">Number of classes</h3>
  				</div> -->

				<div class="panel-heading">
					{{ helpers.stu_picker( student, pickstu ) }}
				</div>

				<form method="post" class="form-horizontal" action="{{ url_for('enroll_submit') }}">
					<fieldset>
						<div class="panel-body">		      			
							
							{% for courseList in courses %}
							
						      	<!-- First Choice -->
								<div class="form-group">

								<div class="col-md-2">
									<h3>{{ courseList[0] }}</h3>
								</div>

								  <label class="col-md-4 control-label" for="{{ courseList[2] }}-first">First Choice</label>
								  <div class="col-md-6">
								    <select id="{{ courseList[2] }}-first" name="{{ courseList[2] }}-first" class="form-control">
						      		<option>None</option>						      		{% for course in courseList[1] %}						      			
						      		<option value="{{ course.id }}" 
						      			{% if currsel[ course.weekday + "1"]==course.id %}
						      			 selected
						      			{% endif %}
						      			>
						      		{{ course.weekday[:3] }} -
                                        {% if course.waitlist %}WAITLIST - {% endif %}
                                        {{ course.titleGrade() }}</option>
						      		{% endfor %}		      	
								    </select>
								  </div>
								</div>


						      	<!-- Second Choice -->
								<div class="form-group">

								<div class="col-md-2">
								</div>

								  <label class="col-md-4 control-label" for="{{ courseList[2] }}-second">Second Choice</label>
								  <div class="col-md-6">
								    <select id="{{ courseList[2] }}-second" name="{{ courseList[2] }}-second" class="form-control">
						      		<option>None</option>
						      		{% for course in courseList[1] %}
						      		<option value="{{ course.id }}" 
						      			{% if currsel[ course.weekday + "2"]==course.id %}
						      			 selected
						      			{% endif %}
						      			>
						      		{{ course.weekday[:3] }} -
                                        {% if course.waitlist %}WAITLIST - {% endif %}
                                        {{ course.titleGrade() }}</option>
						      		{% endfor %}		      	
								    </select>
								  </div>
								</div>
							
								{% if not loop.last %}
								<hr>
								{% endif %}

					      	{% endfor %}


						</div> <!-- Panel Body (Course choices) -->

                        <div class="panel-footer">

                            <label>Enrolling for {{ student.enrollDays }} day{% if student.enrollDays>1 %}s{% endif %}</label>
                            <a class="btn btn-default btn-sm" href="{{ url_for('changedays') }}">
                            Change Number of Days
                            </a></p>

        				</div>

			  			 <div class="panel-footer">

						    <div class="form-group">
						        <div class="col-xs-offset-2 col-xs-10">
						            <button type="submit" class="btn btn-primary">Submit</button>
						        </div>
						    </div>

						</div> <!-- Panel Footer -->

					</fieldset>
				</form>
			</div>
		</div>
	</div>

	<div class="col-md-2">
	</div>
	
	</div><!-- row -->


	<div class="row">
		<div class="col-md-12 text-center">
			<a class="btn btn-default btn-lg" href="{{ url_for('index') }}">
			  Back to Classes
			</a>
		</div>
	</div>

</div><!-- /.container -->

{% endblock %}