{% extends "base.html" %}

{% import 'helpers.html' as helpers %}

{% block title %}
Enroll - MX PTA Afterschool
{% endblock %}


{% block content %}

<div class="container">

	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
  				<h1>Sign up <small>for afterschool classes</small> </h1>
			</div>

            {{ helpers.minigrid( grid ) }}

			<p class="lead">
			How many days do you want to sign up {{ student.firstname }} for classes?
			</p>
		</div>
	</div>


	<div class="row">

		<div class="col-md-2">
		</div>

		<div class="col-md-8">
			<div class="panel panel-default">
				<!-- <div class="panel-heading">
    				<h3 class="panel-title">Number of classes</h3>
  				</div> -->

				<div class="panel-heading">
					{{ helpers.stu_picker( student, pickstu ) }}
				</div>

				<form method="post" class="form-horizontal">
					<fieldset>
						<div class="panel-body">		      			
							<div class="form-group">
							  <label class="col-md-4 control-label" for="enrollDays">Classes</label>
							  <div class="col-md-4">
							  <div class="radio">
							    <label for="enrollDays-0">
							      <input type="radio" name="enrollDays" id="enrollDays-0" value="1" checked="checked">
							      One Class
							    </label>
								</div>
							  <div class="radio">
							    <label for="enrollDays-1">
							      <input type="radio" name="enrollDays" id="enrollDays-1" value="2">
							      Two Classes
							    </label>
								</div>
							  <div class="radio">
							    <label for="enrollDays-2">
							      <input type="radio" name="enrollDays" id="enrollDays-2" value="3">
							      Three Classes
							    </label>
								</div>

							  </div>
							</div>
						</div> <!-- Panel Body (Enroll Days) -->

			  			 <div class="panel-footer">

						    <div class="form-group">
						        <div class="col-xs-offset-2 col-xs-10">
						            <button type="submit" class="btn btn-primary">Next</button>
						        </div>
						    </div>

						</div> <!-- Panel Footer -->

					</fieldset>
				</form>
			</div>
		</div>
	</div>

	<div class="col-md-2">
	</div>

	</div><!-- row -->


	<div class="row">
		<div class="col-md-12 text-center">
			<a class="btn btn-default btn-lg" href="{{ url_for('index') }}">
			  Back to Classes
			</a>
		</div>	
	</div>
</div><!-- /.container -->

{% endblock %}