{% extends "base.html" %}

{% block title %}
Help and FAQ - MX PTA Afterschool
{% endblock %}


{% block content %}

    <div class="container">
        <div class="row"><br><br></div>
	    <div class="row">

            <div class="col-md-2"></div>
		    <div class="col-md-8">

                <h1>PTA After School Classes<small> Tips and FAQs</small></h1>

                <p>
                    The PTA coordinates a variety of after school classes open to all Malcolm X
                    students on Mondays, Wednesdays, and Fridays.</p>
                <p>Need help signing up for classes? Check out our <a href="{{ url_for('help') }}">Step-by-step Guide.</a>
                </p>

                <h2>Important Dates</h2>

                {% for event in calendar %}
                <div class="row {% if loop.first %}faqdatestop{% else %}faqdates{% endif %}">
                    <div class="col-sm-4" >
                        <p class="lead">{{ event.fmtDateShort() }}</p>
                    </div>
                    <div class="col-sm-7">
                        <p>
                            {% if event.role=="FirstDay" %}
                            <b>{{ event.desc }}</b>
                            {% else %}
                            {{ event.desc }}
                            {% endif %}
                        </p>
                    </div>
                 </div>
                {% endfor %}



                <h2>Class Holidays</h2>
                <p class="lead">PLEASE NOTE: There will be no after school classes on
                    the following dates:
                </p>
                <ul>
                    {% for ev in holidays %}
                    <li>{{ ev.fmtDateHoliday() }} - {{ ev.desc }}</li>
                    {% endfor %}
                </ul>

                <h2>When are the Classes?</h2>
                <p>
                    TK/K classes begin at 1:30 and end at 2:20.  Parents, please arrive promptly so that
                    upper level classes can begin at 2:25.
                </p>

                <p>
                    1st-5th grade classes begin at 2:25 on Mondays and Fridays and end at 3:30.
                </p>

                <p>
                    Wednesday is early release day and most classes run from 1:30-2:30.
                </p>

                <p>Puppetry, Cooking and Upper-Level Lego Engineering all run 90 minutes and end later.
                </p>

                <p>Spring Classes run 12 Weeks on Wednesday and Friday.  Monday Classes are only 11 weeks.</p>


                <h3>Class Dates:</h3>

                {% for weekday in weekdays %}
                <p>{{ weekday }}:
                    {% for classDay in classDays[weekday] %}{{ classDay.strftime("%-m/%-d") }}{% if not loop.last %}, {% endif %}{% endfor %}
                </p>
                {% endfor %}

                <!--
                <h2>How much does it cost?</h2>
                <p>
                    Fees are generally between $13 and $17 per hour of meeting time, based on the
                   number of weeks the class is offered.
                </p>
                -->
                <h2>How much does it cost?</h2>
                <p>
                    Fees are generally between $13 and $25 per hour of meeting time, based on the number of
                    weeks the class is offered, class length, the instructor’s fee, and BUSD’s facility charge. Fees are
                    non-refundable. Some classes are more expensive because they are longer or have materials
                    fees built in.
                </p>

                <h2>Scholarships</h2>

                <p>
                    Each student is eligable for one scholarship per session, with a co-payment of $30 (or more if you are able).
                    If you accept a scholarship, the PTA pays the full fee to the teacher for that spot in the class. For this
                    reason, please be sure your student attends class meetings. If you student registers for more than one class,
                    the scholarship will be applied to the LOWEST fee.
                </p>


                <h2>Second Choices</h2>
                <p>
                    If your child has a second choice, indicate that when you register. For students enrolling in less than 3 classes,
                    if the second choice is on a different day than the first class, put the second choice class in the second choice
                    line on the other day, leaving the first choice for that day blank. (If you want two classes on different days,
                    select each as the appropriate first choice).
                </p>

                <h2>Website Security</h2>
                <p>
                    How secure is the ase website? The website itself is built with standard internet technologies, and provides a
                    typical security for class info and registrations. The main site does not use HTTPS for enhanced security. However,
                    payment processing is done using a third party service called Stripe, which offers "industrial strength" security. All
                    credit card info is processed ONLY by Stripe, and not stored or even sent to our servers. Stripe is PCI Level 1 certified,
                    and trusted by hundreds of businesses, including Kickstarter, Twitter, TaskRabbit and FitBit. See
                    <a href="https://stripe.com/us/features" target="_blank">Stripe.com</a> for more information.
                </p>

                <h2>LEARNS</h2>
                <p>
                    If your child is in LEARNS, PTA enrichment classes are different than those provided by LEARNS. There
                    is no additional cost fo the LEARNS enrichment classes. Kindergarteners can take both a PTA and a
                    LEARNS class on Monday and Fridays (PTA classes are 1:30 - 2:30, LEARNS classes are 2:30 - 3:30).
                    For grades 1-5 the class times overlap, so you must choose one or the other on days where both are
                    offered. {# LEARNS classes are Mondays and Fridays for kindergarteners and grades 1-3, and Wednesdays
                    and Fridays for grades 4-5. #} Please call Kathleen Russell at (510) 883-6149 if you have questions
                    about the LEARNS classes.
                </p>

            <h2>Class Policies</h2>


            <dl class="dl-horizontal faqpolicy">
              <dt>The Program</dt>
              <dd>The Malcolm X PTA after school class program is run by a volunteer committee of MX parents.
                  The committee locates instructors, schedules classes, publicizes the program and administers
                  the registration process. Classes are held after school at Malcolm X. Other schools have
                  similar programs, however they are run independently.<br>
                  If you are interested in working with the committee, please contact Vicki Davis at (510) 387-2204
                  or vicki.davis@mxpta.org . We can always use people to do data entry, make phone calls, and check
                  in on the classes and instructors to make sure everything is running smoothly.
              </dd>

              <dt>Class Fees</dt>
              <dd>Fees are Non-Changable and Non-Refundable. Once your student is confirmed in a class, the class fees
                  are non-refundable and your student may not switch classes. This ensures that teachers, who are
                  contracted for a specific payment amount, are paid the full amount of their contracts whether or
                  not your student chooses to attend class.
              </dd>

            <dt>Class Lists</dt>
            <dd>Final Class schedules will be emailed when registration is finalized. You can always check the current
                status of your student’s schedule on the afterschool website.
            </dd>

            <dt>Wait Lists</dt>
            <dd>Any student who did not get into a class they requested for their first choice will be put on a wait-list
                for that class for the next session. While not all classes will repeat each session, any class that does
                will first be filled with students who were wait-listed if they sign up again.
                </dd>

            <dt>Scholarships</dt>
            <dd>We encourage any parent who needs it to apply for a scholarship. Scholarships are funded with class
                fees, parent donations, and PTA funds. They are one way we hope to encourage all students, regardless
                of family income, to participate in our great after school class program. Scholarships are limited to
                one per student, per session. If you sign your student up for more than one class, the scholarship
                will be available for the least expensive class. Please, only request a scholarship if you truly
                need one and intend for your student to attend the class. The PTA pays the FULL fee for each registered
                student in each class.
                </dd>

            <dt>Pick-Up</dt>
            <dd>The instructors pick up the Kindergarteners from their classrooms. Older students must get themselves
                to their after school class. After class, PLEASE PICK UP STUDENTS ON TIME. Unless your student is
                enrolled in another on-site program such as LEARNS or BEARS, students MUST be picked up from the
                after school class at the class dismissal time. The Malcolm X staff and PTA after-school committee
                cannot be responsible for students not picked up on time, and the instructor may assess a late fee
                for late pick-up.
            </dd>
                </dl>
             </div>
            <div class="col-md-2"></div>
        </div>

    <h2>More Info</h2>

    <p>
        Have a question that wasn't answered here? Get in touch with the coordinators on the
        <a href="{{ url_for ('contact')}}">Contact Info</a> page.
    </p>

    </div><!-- /.container -->

{% endblock %}
