{% macro stu_picker( student, pickstu ) %}

		{% if pickstu %}
  			<form method="post" class="form-horizontal">

            <div class="form-group">
              <label class="control-label col-xs-4">Enrolling for Student:</label>
              <div class="col-xs-8">
                <div class="input-group">
                  <select id="actstu" name="actstu" class="form-control" onchange="this.form.submit()">
                    {% for stu in pickstu %}
                    <option value="{{stu.id}}"{% if stu.id == student.id %} selected{% endif %}>
                        {{ stu.displayname() }}
                    </option>
                    {% endfor %}
                  </select>

                    <!--
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="Change">Change</button>
                  </span>
                  -->
                </div> <!-- input group -->
              </div> <!-- col-xs-10 -->
            </div> <!-- form-group -->

              <!--
  		  	<select name="actstu" class="form-control">
  			{% for stu in pickstu %}
  				<option value="{{stu.id}}"{% if stu.id == student.id %} selected{% endif %}>
  					{{ stu.displayname() }}</option>
  			{% endfor %}
  			</select>
  			<button type="submit" class="btn btn-default">Change</button>
      -->
  			</form>
		{% else %}
  		<h3>Enrolling for <em>{{ student.displayname() }}</em></h3>
  		{% endif %}

{% endmacro %}


{% macro minigrid( grid ) %}
        <div class="minigrid row text-center">

                {% for weekday in ['Monday', 'Tuesday','Wednesday','Thursday','Friday'] %}
                    {% if grid.has_key( weekday ) %}
                        <div class="col-xs-12 col-sm-4">
                            <h3>{{ weekday }}</h3>
                            {% for course in grid[ weekday ] %}
                            <a href="{{ url_for('course', slug=(course.course_info.slug) ) }}" target="_blank">
                            {{ course.titleGrade() }} {{ course.displayTime2() }}</a>
                            {% if course.fee %}<b> ${{course.fee}}</b>{% endif %}
                            {% if course.waitlist %}<span class="label label-danger">Full</span>{% endif %}
                            <br>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
        </div>
{% endmacro %}
