{% extends "base.html" %}

{% block title %}
Help and FAQ - MX PTA Afterschool
{% endblock %}


{% block content %}

    <div class="container">
        <div class="row"><br><br></div>
	    <div class="row">
            <h1>Signing Up <small>Step by Step.</small></h1>

            <br>
            <h2><span class="helpnum">1</span>Choose 'Sign Up' to get started.</h2>
            <img class="center-block shrinktofit" src="{{ url_for( 'static', filename='imgs/help1.png' ) }}"><br><br><br>

            <h2><span class="helpnum">2</span>Enter Info for you and your student(s).</h2>
            <img class="center-block shrinktofit" src="{{ url_for( 'static', filename='imgs/help2.png' ) }}"><br><br><br>

            <h2><span class="helpnum">3</span>Pick courses for each student.</h2>
            <img class="center-block shrinktofit" src="{{ url_for( 'static', filename='imgs/help3.png' ) }}"><br><br><br>


	    </div>
    </div>

    <div class="row">
		<div class="col-md-12 text-center">
			<a class="btn btn-warning btn-lg" href="{{ url_for('index') }}">
			  Back to Main Page
			</a>
		</div>
	</div>
    <br><br><br>


{% endblock %}
