{% extends "base.html" %}


{% import 'helpers.html' as helpers %}

{% block content %}

<div class="container-fluid frontinfo">
	<div class="container">
		<div row>

			<div class="col-sm-6 col-lg-3">
				<div class="visible-lg">
				<!-- Left graphic -->
                    <img src="{{url_for('static', filename='imgs/branch.png')}}">
				</div>
			</div>
			<div class="col-sm-8 col-lg-5">
				<h1>Afterschool Programs</h1>
				<p>
                   Afterschool enrichment classes are offered through the Malcolm X PTA.
                   Click on the title of the courses you are interested in to see more
                   details.
				</p>

                <br>
				{% if settings.reg_enabled %}

					{% if user %}
					<a class="btn btn-warning btn-lg" href="{{ url_for('account') }}">
					<span class="glyphicon glyphicon-plus-sign"></span> Enroll Now!
					</a>
					{% else %}
					<a class="btn btn-warning btn-lg" href="{{ url_for('signup') }}">
					<span class="glyphicon glyphicon-plus-sign"></span> Sign Up!
					</a>
					{% endif %}
				{% endif %}

                <br>&nbsp
			</div>
			<div class="col-sm-4 col-lg-4">
				<img src="{{url_for('static', filename='front_banner_pic.jpg')}}">
			</div>

		</div>
	</div>
</div>
<div class="container">

    <div class="col-sm-12">
        <div class="alert alert-success" role="alert">
			{% if settings.reg_enabled %}
            	<h2>{{ settings.semester }} Registration <small>Now Open!</small></h2>
			{% else %}
				<h2>{{ settings.semester }} Registration <small>Coming Soon!</small></h2>
			{% endif %}
            <ul>
				{% if not settings.reg_enabled %}
					<li>Registration opens on <b>{{ calendar['Reg Start'].date.strftime("%A, %B %-d") }}</b>.
				{% endif %}
            	<li>Priority Registration (Lottery) ends on <b>{{ calendar['Lottery'].date.strftime("%A, %B %-d") }}</b>.
            	<li>Final Registration deadline is <b>{{ calendar['Reg End'].date.strftime("%A, %B %-d") }}</b>.
            	<li>Classes begin <b>{{ calendar['Classes Start'].date.strftime("%A, %B %-d") }}</b>.
            </ul>
        </div>
    </div>

	<div id="columns" data-columns>

		{% for course in courses %}
	    <div class="panel panel-course">
	        <div class="panel-heading">
                {% if course.slug %}
	        	<a href="{{ url_for('course', slug=(course.slug) ) }}" class="panel-link">
	        	{{ course.title }}
	        	</a>
                {% else %}
                {{ course.title }}
                <span class="glyphicon glyphicon-exclamation-sign text-danger pull-right"></span>
                {% endif %}
	        </div>
	        <div class="panel-body">

	        	<p>{{ course.summary }}
                </p>
                {% if course.slug %}
	        	<h6 class="pull-right">
                    <a href="{{ url_for('course', slug=(course.slug) ) }}">
	        	<span class="label label-primary">
                    More Info
                    </span></a></h6>
	        	</a>
                {% endif %}

	        </div>
	    </div>

	    {% if imgs[loop.index] %}
	    	<div class="frontimg">
	    	<img src="{{ url_for( 'static', filename='imgs/' + imgs[loop.index] ) }}">
	    	</div>
	    {% endif %}

      	{% endfor %}

	</div>

</div><!-- /.container -->



<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            {{ helpers.minigrid( grid ) }}

        </div>
    </div>

</div><!-- container-fluid -->


{% endblock %}
