{% extends "base.html" %}

{% block title %}
Sign Up - MX PTA Afterschool
{% endblock %}


{% block content %}

<div class="container">

	<div class="row">

		<div class="col-md-12">

		<div class="page-header">
  			<h1>Sign up <small>for afterschool classes</h1> </h1>
		</div>
		<p class="lead">
			Enter your information below to get started! <br>
			<p>Note: If you've created an account for a previous semester, you will still need to re-enter your
			parent and student information for the new semester.
			</p>
		</p>
	</div>

	</div>

	<div class="row">

		<div class="col-md-2">
		</div>

		<div class="col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading">
    				<h3 class="panel-title">Parent or Guardian Info</h3>
  				</div>

				<form data-toggle="validator" role="form" class="form-horizontal" method="POST" action="{{ url_for('signup_submit') }}">

				<div class="panel-body">

					    <div class="form-group">
					        <label for="firstname" class="control-label col-xs-2">First Name</label>
					        <div class="col-xs-10">
					            <input class="form-control" name="firstname" id="firstname" placeholder="First" required>
                                <div class="help-block with-errors"></div>
					        </div>
					    </div>

					    <div class="form-group">
					        <label for="lastname" class="control-label col-xs-2">Last Name</label>
					        <div class="col-xs-10">
					            <input class="form-control" name="lastname" id="lastname" placeholder="Last" required>
                                <div class="help-block with-errors"></div>
					        </div>
					    </div>

					    <div class="form-group">
					        <label for="email" class="control-label col-xs-2">Email</label>
					        <div class="col-xs-10">
					            <input class="form-control" type="email" id="email" name="email" placeholder="Email" required>
                                <div class="help-block with-errors"></div>
					        </div>
					    </div>

                    	<div class="form-group">
					        <label for="phone" class="control-label col-xs-2">Phone</label>
					        <div class="col-xs-10">
					            <input class="form-control" name="phone" id="phone" placeholder="(510) 555-5555" data-error="Please enter a phone number." required>
                                <div class="help-block with-errors"></div>
					        </div>
					    </div>

					</div> <!-- Panel Body (User Info) -->

		  			 <div class="panel-footer">

					    <div class="form-group">
					        <div class="col-xs-offset-2 col-xs-10 text-center">
                                <p>Next, you will add your student information.</p>
					            <button type="submit" class="btn btn-primary">Next
                                <span class="glyphicon glyphicon-chevron-right">
                                </button>
					        </div>
					    </div>

					</div> <!-- Panel Footer -->

				</form>
			</div>
		</div>

		<div class="col-md-2">
		</div>
	</div><!-- row -->

	<div class="row">
		<div class="col-md-12">
			<p class="lead">
			If you've already created an account this semester, you can sign in from the link provided in your welcome email.</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="bs-callout bs-callout-info">
				<h4>Can't find your welcome email?</h4>
				<p>
				Don't worry, we can send you another sign-in link. If that's not working,
				or you can't access the email account you used to sign in, just contact Vicki Davis.
				</p>

				<form class="form-horizontal" method="POST" action="{{ url_for('remindmail') }}">
				<div class="input-group">
	      		<input name="email" type="email" class="form-control" placeholder="Email">
      			<span class="input-group-btn">
      				<span class="glyphicon glyphicon-envelope"></span>
        			<button class="btn btn-warning" type="submit">Send Email</button>
      			</span>
    			</div>
    			</form>
    			<!-- /input-group -->
			</div>
		</div>

		<div class="col-md-6 graphicblock">
		</div>
	</row>

</div><!-- /.container -->

{% endblock %}
