{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="row"><br><br></div>
	    <div class="row">

            <div class="col-md-2"></div>
		    <div class="col-md-8">

                <div class="panel panel-{{ context }}">

                    <div class="panel-heading"><h4>{{ title }}</h4></div>

                    <div class="panel-body">
                        <p>{{ message|safe }}</p>
                    </div>

                    <div class="panel-footer">
                        <a class="btn btn-{{ context }} btn-lg" href="{{ dest }}">
                          {% if icon %}
                            <span class="glyphicon glyphicon-{{ icon }}"></span>
                          {% endif %}
                          {{ button }}
                        </a>
                    </div>

                </div>

             </div>
            <div class="col-md-2"></div>
        </div>

    </div><!-- /.container -->

{% endblock %}