{% extends "base.html" %}

{% import 'helpers.html' as helpers %}

{% block title %}
{% if student %}Edit{% else %}Add{% endif %} Student - MX PTA Afterschool
{% endblock %}


{% block content %}

<div class="container">

	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
  				<h1>Student Information</h1>
			</div>

			<p class="lead">
            {% if student %}
                Edit Information for {{ student.displayname() }}.
            {% else %}
			    Enter Information for new student.
            {% endif %}
			</p>
		</div>
	</div>

	<div class="row">

		<div class="col-md-2">
		</div>

		<div class="col-md-8">
			<div class="panel panel-default">

				<div class="panel-heading">
					<h4>Student Information</h4>
				</div>

				<form method="post" class="form-horizontal"
                      {% if student %}action="{{ url_for('student', stu_id=student.id ) }}"
                      {% else %}action="{{ url_for('student' ) }}"
                      {% endif %}>
					<fieldset>
						<div class="panel-body">
                            <div class="form-group">
                                <label for="firstname" class="col-sm-2 control-label">First Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="firstname" name="firstname"
                                        placeholder="Enter First Name"
                                        {% if student %}value="{{student.firstname}}"{% endif %}>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="lastname" class="col-sm-2 control-label">Last Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="lastname" name="lastname"
                                        placeholder="Enter Last Name"
                                        {% if student %}value="{{student.lastname}}"{% endif %}>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="grade" class="col-sm-2 control-label">Grade</label>
                                <div class="col-sm-10">

                                    <select class="form-control" name="grade" id="grade" onchange="updateTeacherList()">
                                        <option value="0" {% if student.grade==0 %}selected{% endif %}>Kindergarten/TK</option>
                                        <option value="1" {% if student.grade==1 %}selected{% endif %}>First Grade</option>
                                        <option value="2" {% if student.grade==2 %}selected{% endif %}>Second Grade</option>
                                        <option value="3" {% if student.grade==3 %}selected{% endif %}>Third Grade</option>
                                        <option value="4" {% if student.grade==4 %}selected{% endif %}>Fourth Grade</option>
                                        <option value="5" {% if student.grade==5 %}selected{% endif %}>Fifth Grade</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="classroom" class="col-sm-2 control-label">Teacher</label>
                                <div class="col-sm-10">

                                    <select class="form-control" name="classroom" id="classroom">
                                        {% for class in classrooms %}
                                           <option value="{{class.id}}"
                                                   {% if student.classroom==class %}selected{% endif %}
                                                   >{{ class.instname }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                        </div> <!-- Panel Body (Student Info) -->

                        <div class="panel-footer">
					        <h4>Aftercare</h4>
				        </div>

                        <div class="panel-body">

					        <div class="form-group">
					            <div class="col-xs-offset-2 col-xs-10">
					                <div class="checkbox">
					                    <label><input name="bears" type="checkbox"
                                                 {% if student.bears %}checked{% endif %}>
                                                BEARS - Check here is student is in BEARS</label>
					                </div>

                                    <div class="checkbox">
					                    <label><input name="learns" type="checkbox"
                                                 {% if student.learns %}checked{% endif %}>
                                                LEARNS - Check here is student is in LEARNS</label>
					                </div>
					            </div>
					        </div>
						</div> <!-- Panel Body (Aftercare) -->

			  			<div class="panel-footer">
						    <div class="form-group">
						        <div class="col-xs-offset-2 col-xs-10">
                                    {% if not student %}
                                        <button name="addmore" type="submit" class="btn btn-default">Save and add Another</button>
                                    {% endif %}
						            <button name="submit" type="submit" class="btn btn-primary">Done</button>
						        </div>
						    </div>
						</div> <!-- Panel Footer -->

					</fieldset>
				</form>
			</div> <!-- Panel -->
		</div>

	    <div class="col-md-2">
	    </div>

	</div><!-- row -->

</div><!-- /.container -->

{% endblock %}

{% block scripts %}
<script>
    var classroomInfo = [
        {% for class in classrooms %}
            { "grade" : {{ class.grade }},
              "teacher" : "{{ class.instname }}",
              "id" : {{ class.id }} } {% if not loop.last %},{% endif %}
        {% endfor %}
        ];

    function updateTeacherList()
    {
        var currGrade = $( "#grade" ).val();
        var selectTeacher = $("#classroom");
        selectTeacher.empty();

        for (var cndx =0; cndx < classroomInfo.length; cndx++ )
        {
            var croom = classroomInfo[cndx];
            if (croom.grade == currGrade)
            {
                var selText = "";
                {% if student %}
                    if (croom.id == {{ student.classroom.id }} )
                    {
                        selText = "selected";
                    }
                {% endif %}

                selectTeacher.append( "<option value='" + croom.id + "' " +selText+">" + croom.teacher + "</option>" );
            }
        }
    };

    $(document).ready(function () {
        updateTeacherList();
    });
</script>
{% endblock %}


