{% extends "base.html" %}

{% block title %}
{% if user %}Edit Account{% else %}Sign Up{% endif %} - MX PTA Afterschool
{% endblock %}


{% block content %}

<div class="container">

	<div class="row">

		<div class="col-md-12">

		<div class="page-header">
  			<h1>My Account</h1>
		</div>
		<p class="lead">
			Edit your account information.
		</p>
	</div>

	</div>

	<div class="row">

		<div class="col-md-2">
		</div>

		<div class="col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading">
    				<h3 class="panel-title">Parent or Guardian Info</h3>
  				</div>

				<form data-toggle="validator" role="form" class="form-horizontal" method="POST" action="{{ url_for('user', user_id=user.id) }}">

				<div class="panel-body">

					    <div class="form-group">
					        <label for="firstname" class="control-label col-xs-2">First Name</label>
					        <div class="col-xs-10">
					            <input class="form-control" name="firstname" id="firstname"
                                       {% if user %}value="{{user.firstname}}"{% endif %}
                                       placeholder="First" required>
                                <div class="help-block with-errors"></div>
					        </div>
					    </div>

					    <div class="form-group">
					        <label for="lastname" class="control-label col-xs-2">Last Name</label>
					        <div class="col-xs-10">
					            <input class="form-control" name="lastname" id="lastname"
                                       {% if user %}value="{{user.lastname}}"{% endif %}
                                       placeholder="Last" required>
                                <div class="help-block with-errors"></div>
					        </div>
					    </div>

					    <div class="form-group">
					        <label for="email" class="control-label col-xs-2">Email</label>
					        <div class="col-xs-10">
					            <input class="form-control" type="email" id="email" name="email"
                                       {% if user %}value="{{user.email}}"{% endif %}
                                       placeholder="Email" required>
                                <div class="help-block with-errors"></div>
					        </div>
					    </div>

                    	<div class="form-group">
					        <label for="phone" class="control-label col-xs-2">Phone</label>
					        <div class="col-xs-10">
					            <input class="form-control" name="phone" id="phone"
                                       {% if user %}value="{{user.phone}}"{% endif %}
                                       placeholder="(510) 555-5555" data-error="Please enter a phone number." required>
                                <div class="help-block with-errors"></div>
					        </div>
					    </div>

					</div> <!-- Panel Body (User Info) -->

                    {% if user %}
                    <div class="panel-footer">
                        <h3 class="panel-title">Scholarship</h3>
                    </div>
                    <div class="panel-body">

                        <div class="form-group">
                            <div class="col-xs-offset-2 col-xs-10">
                                <div class="checkbox">
                                    <label><input name="scholarship" type="checkbox"
                                             {% if user.scholarship %}checked{% endif %}>
                                            Check here to request Scholarship</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
					        <label for="scholrequest" class="control-label col-xs-2">Amount $</label>
					        <div class="col-xs-10">
					            <input class="form-control" type="number" name="scholrequest" id="scholrequest"
                                       value="{% if user.scholrequest > 0 %}{{user.scholrequest}}{% else %}110{% endif %}">
					        </div>
					    </div>

                        <div class="form-group">
					        <label for="scholnote" class="control-label col-xs-2">Notes</label>
					        <div class="col-xs-10">
					            <textarea class="form-control" name="scholnote" id="scholnote">{%if user.scholnote %}{{ user.scholnote }}{% endif %}</textarea>
                                <p>Typical scholarships are $110 (per student). If you would like to request
                                more, please include extra information here. </p>
					        </div>
					    </div>


                    </div> <!-- Panel Body (Scholarship) -->
                    {% endif %}

		  			 <div class="panel-footer">

					    <div class="form-group">
					        <div class="col-xs-offset-2 col-xs-10 text-center">
					            <button type="submit" class="btn btn-primary">Done </button>
					        </div>
					    </div>

					</div> <!-- Panel Footer -->

				</form>
			</div>
		</div>

		<div class="col-md-2">
		</div>
	</div><!-- row -->

	<div class="row">
        {% if not user %}
		<div class="col-md-12">
			<p class="lead">
			If you've already created an account, you can sign in from the link provided in your welcome email.</p>
		</div>
        {% endif %}
	</div>

</div><!-- /.container -->

{% endblock %}
