{% extends 'admin/model/list.html' %}

{% macro course_roster(model, column) %}
    <a class="btn-small btn-success" href="{{ url_for('admin.reportRoster', course_id=model.id ) }}"><i class="icon-book icon-white"></i> Roster</a>
{% endmacro %}

{% block body %}
{{ super() }}
{% endblock body %}