{% extends 'admin/model/list.html' %}

{% macro user_info(model, column) %}
	{% if model.bears %}
	<span class="label label-info">BEARS</span>
	{% endif %}

	{% if model.scholarship %}
	<span class="label label-info">Schol.</span>
	{% endif %}
{% endmacro %}

{% macro user_passwd(model, column) %}

	<div class="btn-group">
	  <a class="btn dropdown-toggle btn-mini" data-toggle="dropdown" href="#">
	    Login
	    <span class="caret"></span>
	  </a>
	  <ul class="dropdown-menu">
	    <!-- dropdown menu links -->
	    <li><a target="_blank"
	    	href="{{ url_for('login', userId=model.id ) }}?auth={{ model.passwd }}&targ=acct">My Account</a></li>
	    <li><a target="_blank" href="{{ url_for('remind', userId=model.id ) }}"
	    	>Send Login Email</a></li>
	  </ul>
	</div>

	<a href="{{ url_for('login', userId=model.id ) }}?auth={{ model.passwd }}">
	{{ model.passwd }}
	</a>

{% endmacro %}


{% block body %}
{{ super() }}
{% endblock body %}
