<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=320, initial-scale=1" />
  <title>Airmail Invoice</title>
  <style type="text/css">

    /* ----- Client Fixes ----- */

    /* Force Outlook to provide a "view in browser" message */
    #outlook a {
      padding: 0;
    }

    /* Force Hotmail to display emails at full width */
    .ReadMsgBody {
      width: 100%;
    }

    .ExternalClass {
      width: 100%;
    }

    /* Force Hotmail to display normal line spacing */
    .ExternalClass,
    .ExternalClass p,
    .ExternalClass span,
    .ExternalClass font,
    .ExternalClass td,
    .ExternalClass div {
      line-height: 100%;
    }


     /* Prevent WebKit and Windows mobile changing default text sizes */
    body, table, td, p, a, li, blockquote {
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
    }

    /* Remove spacing between tables in Outlook 2007 and up */
    table, td {
      mso-table-lspace: 0pt;
      mso-table-rspace: 0pt;
    }

    /* Allow smoother rendering of resized image in Internet Explorer */
    img {
      -ms-interpolation-mode: bicubic;
    }

     /* ----- Reset ----- */

    html,
    body,
    .body-wrap,
    .body-wrap-cell {
      margin: 0;
      padding: 0;
      background: #ffffff;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
      color: #464646;
      text-align: left;
    }

    img {
      border: 0;
      line-height: 100%;
      outline: none;
      text-decoration: none;
    }

    table {
      border-collapse: collapse !important;
    }

    td, th {
      text-align: left;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
      color: #464646;
      line-height:1.5em;
    }

    b a,
    .footer a {
      text-decoration: none;
      color: #464646;
    }

    a.blue-link {
      color: blue;
      text-decoration: underline;
    }

    /* ----- General ----- */

    td.center {
      text-align: center;
    }

    .left {
      text-align: left;
    }

    .body-padding {
      padding: 24px 40px 40px;
    }

    .border-bottom {
      border-bottom: 1px solid #D8D8D8;
    }

    table.full-width-gmail-android {
      width: 100% !important;
    }


    /* ----- Header ----- */
    .header {
      font-weight: bold;
      font-size: 16px;
      line-height: 16px;
      height: 16px;
      padding-top: 19px;
      padding-bottom: 7px;
    }

    .header a {
      color: #464646;
      text-decoration: none;
    }

    /* ----- Footer ----- */

    .footer a {
      font-size: 12px;
    }
  </style>

  <style type="text/css" media="only screen and (max-width: 650px)">
    @media only screen and (max-width: 650px) {
      * {
        font-size: 16px !important;
      }

      table[class*="w320"] {
        width: 320px !important;
      }

      td[class="mobile-center"],
      div[class="mobile-center"] {
        text-align: center !important;
      }

      td[class*="body-padding"] {
        padding: 20px !important;
      }

      td[class="mobile"] {
        text-align: right;
        vertical-align: top;
      }
    }
  </style>

</head>
<body style="padding:0 !important; margin:0 !important; display:block !important; background:#ffffff; -webkit-text-size-adjust:none">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
 <td valign="top" align="left" width="100%" style="background:repeat-x url({{ url_for('static',  filename='email/airmail2_bg.png',_external=True ) }}) #f9f8f8;">
 <center>

   <table class="w320 full-width-gmail-android" bgcolor="#f9f8f8" background="{{ url_for('static',  filename='email/airmail2_bg.png',_external=True ) }}" style="background-color:transparent" cellpadding="0" cellspacing="0" border="0" width="100%">
      <tr>
        <td width="100%" height="48" valign="top">
            <!--[if gte mso 9]>
            <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="mso-width-percent:1000;height:49px;">
              <v:fill type="tile" src="{{ url_for('static',  filename='email/airmail2_bg.png',_external=True ) }}" color="#ffffff" />
              <v:textbox inset="0,0,0,0">
            <![endif]-->
              <table class="full-width-gmail-android" cellspacing="0" cellpadding="0" border="0" width="100%">
                <tr>
                  <td class="header center" width="100%">
                    <a href="{{ url_for('index', _external=True) }}">
                      MX PTA Afterschool Classes
                    </a>
                  </td>
                </tr>
              </table>
            <!--[if gte mso 9]>
              </v:textbox>
            </v:rect>
            <![endif]-->
        </td>
      </tr>
    </table>

    <table cellspacing="0" cellpadding="0" width="100%" bgcolor="#ffffff">
      <tr>
        <td align="center">
          <center>
            <table class="w320" cellspacing="0" cellpadding="0" width="500">
              <tr>
                <td class="body-padding mobile-padding">

                <table cellspacing="0" cellpadding="0" width="100%">

                  <tr>
                    <td class="left" style="padding-bottom:40px; text-align:left;">

                    Hello {{ user.displayname() }},<br><br>

                        Your student(s) have been registered into the following PTA
                        After School Enrichment classes. Please pay this balance before 10:00 pm
                        on {{ calendar['Payment Due'].fmtDate() }}. If your payment is not received your spot
                        might be given to another child on the waiting list if the class is full.
                        <br><br>

                   You can pay right now with a credit card online. This is the easiest, most efficient way to
                   ensure your payment is received.<br><br>
                   If you need to make payment arrangements or have scholarship questions,
                    please contact Vicki Davis directly at vicki.davis@mxpta.org .<br><br>


                    </td>
                  </tr>
                </table>

                <table cellspacing="0" cellpadding="0" width="100%">
                  <tr>
                    <td>
                      <b>Weekday</b>
                    </td>
                    <td>
                      <b>Student</b>
                    </td>
                    <td>
                      <b>Class</b>
                    </td>
                    <td>
                      <b>Amount</b>
                    </td>
                  </tr>
                  <tr>
                    <td class="border-bottom" height="5"></td>
                    <td class="border-bottom" height="5"></td>
                    <td class="border-bottom" height="5"></td>
                    <td class="border-bottom" height="5"></td>
                  </tr>

                  {% for req in reqs %}
                  <tr>
                    <td style="padding-top:5px;">
                      {{ req.course.weekday }}
                    </td>
                    <td style="padding-top:5px;">
                      {{ req.student.displayname() }}
                    </td>
                    <td style="padding-top:5px;">
                      {{ req.course.titleGrade() }}
                    </td>
                    <td style="padding-top:5px;" class="mobile">
                        {% if req.status=='enrolled' %}
                          PAID
                        {% else %}
                          ${{ req.course.fee }}
                        {% endif %}
                    </td>
                  </tr>                  
                  {% endfor %}

                {% if user.scholgrant %}
                    <tr>
                        <td colspan="3">Scholarship (Paid by MXPTA)</td>
                        <td><i>${{ user.scholgrant }}</i></td>
                    </tr>
                {% endif %}

                  <tr>
                    <td class="border-bottom" height="5"></td>
                    <td class="border-bottom" height="5"></td>
                    <td class="border-bottom" height="5"></td>
                    <td class="border-bottom" height="5"></td>
                  </tr>

                  <tr>
                    <td colspan=3><strong>Total Due </strong></td>
                    <td>${{ '%3.2f' % total }}</td>
                  </tr>

                </table>

                <table cellspacing="0" cellpadding="0" width="100%">
                  <tr>
                    <td class="mobile-center" align="left" style="padding:40px 0;">
                      <div class="mobile-center" align="left"><!--[if mso]>
                          <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="#" style="height:38px;v-text-anchor:middle;width:190px;" arcsize="11%" strokecolor="#407429" fill="t">
                            <v:fill type="tile" src="{{ url_for('static',  filename='email/button_bg.png',_external=True ) }}" color="#41CC00" />
                            <w:anchorlock/>
                            <center style="color:#ffffff;font-family:sans-serif;font-size:17px;font-weight:bold;">View Account</center>
                          </v:roundrect>
                        <![endif]--><a href="{{ url_for( 'login', userId=user.id, _external=True ) }}?auth={{ user.passwd }}&targ=acct"
                        style="background-color:#41CC00;background-image:url({{ url_for('static',  filename='email/button_bg.png',_external=True ) }});border:1px solid #407429;border-radius:4px;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:17px;font-weight:bold;text-shadow: -1px -1px #47A54B;line-height:38px;text-align:center;text-decoration:none;width:190px;-webkit-text-size-adjust:none;mso-hide:all;">Pay Online Now</a></div>
                    </td>
                  </tr>
                </table>

                <table cellspacing="0" cellpadding="0" width="100%">

                  <tr>
                    <td class="left" style="padding-bottom:40px; text-align:left;">

                   Alternatively, you can print this invoice and include it with a check written to
                   Malcolm X Elementary PTA.  In the notes space please write "After School Classes".
                   Checks with invoices can be placed into an envelope with "After School Classes - Vicki Davis"
                   written on the outside and be handed in at the front office.
                      Please email vicki.davis@mxpta.org if you've left a check.<br><br>

                   Please note: If you were registered in your second choice class you will receive priority enrollment
                   (before the lottery) in your first choice class next time it is offered.  If you are waitlisted in
                   a class it is because there was no second choice.  Waitlisted students may be enrolled if a
                   spot opens up after the payment deadline.  If a spot does not open up you may contact me if
                   you would prefer to add a different second choice class.<br><br>

                    </td>
                  </tr>
                </table>

                <table cellspacing="0" cellpadding="0" width="100%">
                  <tr>
                    <td class="left" style="text-align:left;">
                      Thanks so much,
                    </td>
                  </tr>
                  <tr>
                    <td class="left" width="129" height="20" style="padding-top:10px; text-align:left;">
                      <img class="left" width="129" height="20" src="{{ url_for('static',  filename='email/signature.png',_external=True ) }}" alt="Your Malcolm X PTA">
                    </td>
                  </tr>
                </table>

                </td>
              </tr>
            </table>
          </center>
        </td>
      </tr>
    </table>

    <table class="w320" bgcolor="#E5E5E5" cellpadding="0" cellspacing="0" border="0" width="100%">
      <tr>
        <td style="border-top:1px solid #B3B3B3;" align="center">
          <center>
            <table class="w320" cellspacing="0" cellpadding="0" width="500" bgcolor="#E5E5E5">
              <tr>
                <td>
                  <table cellpadding="0" cellspacing="0" width="100%" bgcolor="#E5E5E5">
                    <tr>
                      <td class="center" style="padding:25px; text-align:center;">
                        <b><a href="#">Get in touch</a></b> if you have any questions or feedback
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </center>
        </td>
      </tr>
      <tr>
        <td style="border-top:1px solid #B3B3B3; border-bottom:1px solid #B3B3B3;" align="center">
          <center>
            <table class="w320" cellspacing="0" cellpadding="0" width="500" bgcolor="#E5E5E5">
              <tr>
                <td align="center" style="padding:25px; text-align:center">
                  <table cellspacing="0" cellpadding="0" width="100%" bgcolor="#E5E5E5">
                    <tr>
                      <td class="center footer" style="font-size:12px;">


                        <a href="{{ url_for('contact', _external=True) }}">Contact Us</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                        <span class="footer-group">
                          <a href="http://malcolmx.berkeleypta.org/">PTA Online</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                          <a href="mailto:afterschool@ase.mxpta.org">Support</a>
                        </span>

                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </center>
        </td>
      </tr>
    </table>

  </center>
  </td>
</tr>
</table>
</body>
</html>